In [1]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
salessystem = create_engine(
    'mysql+pymysql://admin:Giu12FF8DB*@salessystem.crkwsaygg8b2.us-east-2.rds.amazonaws.com'
    ':3306/salessystem')

warehouse = create_engine(
    'postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
    ':5432/warehouse')

In [3]:
pedidos=pd.read_sql('SELECT * FROM pedidos', salessystem)
cotizaciones=pd.read_sql('SELECT * FROM facturas', salessystem)
proveedores=pd.read_sql('SELECT * FROM proveedores', salessystem)
adquirientes=pd.read_sql('SELECT * FROM customers', salessystem)
guias=pd.read_sql('SELECT * FROM remision_remitente', salessystem)
vehiculos=pd.read_sql('SELECT * FROM vehiculos', salessystem)
bcp=pd.read_sql('SELECT * FROM v_bcp', salessystem)
info=pd.read_sql('SELECT * FROM info', salessystem)
catalogo=pd.read_sql('SELECT * FROM catalogo', salessystem)
ibk=pd.read_sql('SELECT * FROM v_ibk', salessystem)
acc_7=pd.read_sql('SELECT * FROM acc._7', warehouse)
acc_5=pd.read_sql('SELECT * FROM acc._5', warehouse)
priv_entities=pd.read_sql('SELECT * FROM priv.entities', warehouse)

**PERIODO**

In [4]:
periodo=202501

**TOTAL PEDIDOS DEL PERIODO**

In [5]:
df1_filtrado=pedidos.loc[pedidos['periodo'].isin([periodo])]
df_merge = pd.merge(df1_filtrado, adquirientes[['ruc','alias', 'related_user']], left_on='adquiriente', right_on='ruc', how='left')
df_resultado = df_merge[['related_user', 'alias', 'importe_total', 'estado']]
df1_ordenado = df_resultado.sort_values(by=['related_user', 'alias'])
df1_ordenado

   related_user         alias  importe_total     estado
19        AARON     MI DOCTOR        60000.0    ANULADO
18        AARON   PARIACURI R        70000.0    ANULADO
6         EDGAR      BAUTISTA        10000.0  TERMINADO
7         EDGAR        BOBCAT        20000.0  TERMINADO
5         EDGAR       CORZAMI        10000.0  TERMINADO
27        EDGAR   COSTRUZIONE        34692.0  TERMINADO
8         EDGAR          DHLC        90000.0  TERMINADO
0         EDGAR       ENOBRAS        33180.0  TERMINADO
13        EDGAR       MINGECO        50000.0  TERMINADO
28        EDGAR       MIRAMAR        15000.0  TERMINADO
4         EDGAR        NIMA J        34000.0  TERMINADO
16   MONTEVERDE          BIBO        45000.0  TERMINADO
3    MONTEVERDE            HP       885000.0  TERMINADO
1    MONTEVERDE  SUPERVISORES       210000.0  TERMINADO
22        ROGER     CALCINA M        11500.0  TERMINADO
25        ROGER          HUAY        60000.0  TERMINADO
23        ROGER        SOMMER        30000.0  TERMINADO
21        ROGER      VARGAS G        63000.0  TERMINADO
11         None      ALIAGA L       120000.0  TERMINADO
12         None    ESPINOZA E        10000.0  TERMINADO
2          None    IMPULSA OE       120000.0  TERMINADO
14         None        JOSBER        37000.0  TERMINADO
10         None      LLANOS E         5000.0  TERMINADO
9          None      MECHAN O        24000.0  TERMINADO
26         None   ORCASITAS C        33000.0  TERMINADO
20         None          SAKJ      1084866.0  TERMINADO
15         None         SAVAR      3325221.0  TERMINADO
17         None     SAVAR LOG       720716.0  TERMINADO
24         None      STARMARK        59000.0  TERMINADO

**REPORTE DE EMITIDOS NO ANULADOS POR ADQUIRIENTE**

In [9]:
"""
PENDIENTE COMPARAR CON PEDIDOS, EL CUADRO PEDIDOS AGRUPARLO POR ADQUIRIENTE Y CONCATENAR LOS CODIGOS DE PEDIDO SI SON MAS DE UNO, LUEGO UNIR CON CUADRO DF3_UNIDO POR ADQUIRIENTE Y NUMERO_DOCUMENTO, RESTAR Y PINTAR LA DIFERENCIA SI ES POSIBLE.
"""

df3_noanulado=acc_5[(acc_5['tipo_comprobante'] == 1) &
    (~acc_5['observaciones'].fillna('').str.contains('ANULADA'))&
    (acc_5['periodo_tributario'] == periodo)]
df3_noanulado['total'] = df3_noanulado['valor'] + df3_noanulado['igv']
df3_noanulado['numero_documento'] = df3_noanulado['numero_documento'].astype(int)
df3_agrupado = df3_noanulado.groupby('numero_documento')['total'].sum().reset_index()
df3_unido=pd.merge(df3_agrupado, adquirientes[['ruc', 'alias', 'related_user']], left_on='numero_documento', right_on='ruc', how='left')
df3_unido['alias'] = df3_unido['alias'].fillna(df3_unido['numero_documento'])
df3_unido = df3_unido.rename(columns={'alias': 'adquiriente', 'related_user': 'cliente'})
df3_ordenado = df3_unido[['cliente', 'adquiriente', 'total']]
df3_resultado = df3_ordenado.sort_values(by=['cliente', 'adquiriente'])
df3_resultado

C:\Users\Raknaros\AppData\Local\Temp\ipykernel_40408\3623243969.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_noanulado['total'] = df3_noanulado['valor'] + df3_noanulado['igv']
C:\Users\Raknaros\AppData\Local\Temp\ipykernel_40408\3623243969.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_noanulado['numero_documento'] = df3_noanulado['numero_documento'].astype(int)

       cliente   adquiriente       total
20       AARON    DIVINONINO    40005.55
45       AARON        FARACO    25000.01
17       AARON         FENIX    48966.08
9        AARON      HUAMAN A   180000.00
44       AARON           L&S    35820.00
29       AARON     SAFETYLAB    80000.00
55       AARON     SAFETYVET    30001.68
38       AARON      TRANSTIK   118000.00
33    ARELLANO   ECONO GROUP     9622.42
52    ARELLANO        GAREST     3529.00
14    ARELLANO        JUANDY    57100.61
37    ARELLANO      PERUGRAF    14999.99
28    ARELLANO        PETITO     3000.00
13       EDGAR      BAUTISTA    20000.00
36       EDGAR        BOBCAT    29638.22
19       EDGAR       CORZAMI    20004.04
48       EDGAR   COSTRUZIONE    34703.04
25       EDGAR          DHLC    36709.80
30       EDGAR       ENOBRAS    33200.48
40       EDGAR       MINGECO    70000.00
34       EDGAR       MIRAMAR    15008.37
4        EDGAR        NIMA J    54442.63
3        KETTY      RIVERO J   115002.33
32       LIDIA          AFRE    50000.00
39  MONTEVERDE          BIBO    45011.82
54  MONTEVERDE            HP  1126032.07
47  MONTEVERDE  SUPERVISORES   222973.02
2        ROGER     CALCINA M    11500.24
26       ROGER          HUAY    47037.07
49       ROGER        SOMMER    30007.21
7        ROGER      VARGAS G    63003.98
12        None      ACQUARIO      350.60
10        None      ALIAGA L   188053.65
41        None          ASIS   187395.80
42        None      BUSSINES   599999.99
46        None        CASAVA   299999.99
51        None       CERBERO    11800.00
24        None   CO LOGISTIC   141600.06
53        None       CUSTOMS    49352.21
1         None    ESPINOZA E    16472.80
22        None        GOLDEN    17068.01
43        None    IMPULSA OE   136597.51
15        None    INDUSTAGRI     1340.00
21        None     ITRANSBAR   485381.65
35        None        JOSBER    92449.48
8         None      LLANOS E    11433.61
0         None      MECHAN O    24282.04
56        None       ONTRUCK    16568.86
6         None   ORCASITAS C    35026.89
50        None         PUNTO    13209.99
5         None     RAFAILE D    25328.00
16        None          SAKJ  1131660.59
11        None         SAVAR  3327426.03
18        None     SAVAR LOG   720711.42
23        None       SERVOSA   134377.47
27        None      STARMARK    59000.00
31        None          VIDA    81436.50

**DETALLE DE LO FACTURADO POR ADQUIRIENTE**

In [7]:
"""
ELABORAR CUADRO POR ADQUIRIENTE Y EXPORTAR A EXCEL
NOMBRE DEL LIBRO: REPORTE_ADQUIRIENTE_PERIODO
HOJA 1 INFORMACION DEL PEDIDO: ADQUIRIENTE(RAZON SOCIAL, RUC), TOTALES (SUB TOTAL, IGV, TOTAL) INFORMACION DE COMPROBANTES(CANTIDAD, PROMEDIO, MIN MAX), FECHA INICIAL, FECHA FINAL
HOJA 2 DETALLE DE LOS PROVEEDORES(NUMEROS DE FACTURA Y GUIA), DETALLE DE LOS ITEMS ADQUIRIDOS, CANTIDADES Y PRECIOS
HOJA 3 DETALLE DE FACTURAS DE FORMA TIPICA
"""

'\nELABORAR CUADRO POR ADQUIRIENTE Y EXPORTAR A EXCEL\nNOMBRE DEL LIBRO: REPORTE_ADQUIRIENTE_PERIODO\nHOJA 1 INFORMACION DEL PEDIDO: ADQUIRIENTE(RAZON SOCIAL, RUC), TOTALES (SUB TOTAL, IGV, TOTAL) INFORMACION DE COMPROBANTES(CANTIDAD, PROMEDIO, MIN MAX), FECHA INICIAL, FECHA FINAL\nHOJA 2 DETALLE DE LOS PROVEEDORES(NUMEROS DE FACTURA Y GUIA), DETALLE DE LOS ITEMS ADQUIRIDOS, CANTIDADES Y PRECIOS\nHOJA 3 DETALLE DE FACTURAS DE FORMA TIPICA\n'

**BANCARIZAR OPERACIONES POR ADQUIRIENTE**

In [8]:
periodo_bancarizar=None
lista_bancarizar=['20600908431', '20612533980', '20516510901', '20600803949', '20600232062', '20507017194']

# Merge de los dataframes acc._5 y priv.entities
df_merge = pd.merge(acc_5, priv_entities, left_on='ruc', right_on='ruc', how='right')
print(df_merge.columns)
# Filtrado de datos
df_filtrado = df_merge[
    (df_merge['tipo_comprobante'] == 1) &
    (~df_merge['observaciones_x'].fillna('').str.contains('ANULADA')) &
    (df_merge['numero_documento'].isin(lista_bancarizar)) &
    (df_merge['periodo_tributario'] == periodo_bancarizar)
    &((df_merge['valor'] + df_merge['igv']) > 1999.99)
]

# Creación de la columna 'total'
df_filtrado['total'] = df_filtrado['valor'] + df_filtrado['igv']

# Creación de la columna 'fecha_cuota1'
df_filtrado['fecha_cuota1'] = df_filtrado.apply(lambda row: acc_7.loc[acc_7['cui_relacionado'] == '5' + row['cui'], 'fecha_cuota1'].values[0] if not acc_7.loc[acc_7['cui_relacionado'] == '5' + row['cui'], 'fecha_cuota1'].empty else None, axis=1)

# Creación de la columna 'fecha_emision'
df_filtrado['fecha_emision'] = df_filtrado.apply(lambda row: row['fecha_emision'] if pd.isnull(row['fecha_cuota1']) else row['fecha_cuota1'], axis=1)

# Selección de columnas
df_resultado = df_filtrado[['numero_documento', 'nombre_razon', 'fecha_emision', 'total', 'numero_serie', 'numero_correlativo']]

# Creación de la columna 'numero_comprobante'
df_resultado['numero_comprobante'] = df_resultado.apply(lambda row: str(row['numero_serie']) + '-' + str(row['numero_correlativo']), axis=1)

# Ordenamiento de columnas
df_resultado = df_resultado[['numero_documento', 'nombre_razon', 'fecha_emision', 'total', 'numero_comprobante']]

# Ordenamiento por 'numero_documento'
df_resultado = df_resultado.sort_values(by=['numero_documento','nombre_razon','fecha_emision'])

Index(['id_x', 'ruc', 'subdiario', 'periodo_tributario', 'tipo_operacion',
       'tipo_comprobante', 'fecha_emision', 'fecha_vencimiento',
       'numero_serie', 'numero_correlativo', 'numero_final', 'tipo_documento',
       'numero_documento', 'destino', 'valor', 'icbp', 'isc', 'otros_cargos',
       'tipo_moneda', 'tasa_detraccion', 'tasa_percepcion', 'medio_pago',
       'tipo_comprobante_modificado', 'numero_serie_modificado',
       'numero_correlativo_modificado', 'glosa', 'cui', 'observaciones_x',
       'cuenta_contable', 'igv', 'nombre_razon', 'usuario_sol', 'clave_sol',
       'activo', 'observaciones_y', 'alias', 'related_user', 'suscribed_until',
       'suscription', 'id_y'],
      dtype='object')

ValueError: Cannot set a DataFrame with multiple columns to the single column fecha_cuota1