In [1]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
salessystem = create_engine(
    'mysql+pymysql://root:Giu72656770@104.154.92.48'
    ':3306/sales-system')

warehouse = create_engine(
    'postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
    ':5432/warehouse')

In [3]:
pedidos=pd.read_sql('SELECT * FROM pedidos', salessystem)
cotizaciones=pd.read_sql('SELECT * FROM facturas', salessystem)
proveedores=pd.read_sql('SELECT * FROM proveedores', salessystem)
adquirientes=pd.read_sql('SELECT * FROM customers', salessystem)
guias=pd.read_sql('SELECT * FROM remision_remitente', salessystem)
vehiculos=pd.read_sql('SELECT * FROM vehiculos', salessystem)
bcp=pd.read_sql('SELECT * FROM v_bcp', salessystem)
info=pd.read_sql('SELECT * FROM info', salessystem)
catalogo=pd.read_sql('SELECT * FROM catalogo', salessystem)
ibk=pd.read_sql('SELECT * FROM v_ibk', salessystem)
acc_7=pd.read_sql('SELECT * FROM acc._7', warehouse)
acc_5=pd.read_sql('SELECT * FROM acc._5', warehouse)
priv_entities=pd.read_sql('SELECT * FROM priv.entities', warehouse)

**PERIODO**

In [4]:
periodo=202503

**TOTAL PEDIDOS DEL PERIODO**

In [5]:
df1_filtrado=pedidos.loc[pedidos['periodo'].isin([periodo])]
df_merge = pd.merge(df1_filtrado, adquirientes[['ruc','alias', 'related_user']], left_on='adquiriente', right_on='ruc', how='left')
df_resultado = df_merge[['related_user', 'alias', 'importe_total', 'estado']]
df1_ordenado = df_resultado.sort_values(by=['related_user', 'alias'])
df1_ordenado

   related_user        alias  importe_total      estado
21        AARON    CARRENO A       30000.00  EN PROCESO
46        AARON   DIVINONINO       40000.00  EN PROCESO
7         AARON      LAPAVET       20000.00  EN PROCESO
40        AARON         MARK      120000.00  EN PROCESO
51        AARON      NEYRA C        6000.00  EN PROCESO
45        AARON    SAFETYLAB      110000.00  EN PROCESO
47        AARON    SAFETYVET       30000.00  EN PROCESO
6      ARELLANO  ECONO GROUP       10000.00  EN PROCESO
30     ARELLANO       GAREST        1790.00  EN PROCESO
5      ARELLANO       JUANDY       50000.00  EN PROCESO
23     ARELLANO      MATICES        4200.00  EN PROCESO
15     ARELLANO     PERUGRAF       10000.00  EN PROCESO
22     ARELLANO  PERUGRAPHIC       10000.00  EN PROCESO
44     ARELLANO       PETITO        2500.00  EN PROCESO
37        EDGAR     BAUTISTA       20000.00  EN PROCESO
38        EDGAR      CORZAMI       10000.00  EN PROCESO
35        EDGAR      ENOBRAS       25000.00  EN PROCESO
52        EDGAR       PERFIL       96107.00  EN PROCESO
39        EDGAR   SERPROVISA       75000.00  EN PROCESO
42        KETTY     INFINITY       26000.00  EN PROCESO
1         KETTY         KODO      340000.00  EN PROCESO
2         LIDIA         AFRE       23600.00  EN PROCESO
4         LIDIA      LA & VA       59000.00  EN PROCESO
14   MONTEVERDE         BIBO       40000.00  EN PROCESO
9    MONTEVERDE           HP     4000000.00  EN PROCESO
33        ROGER    CALCINA M       57000.00  EN PROCESO
34        ROGER         HUAY       50000.00  EN PROCESO
32        ROGER       SOMMER      100000.00  EN PROCESO
31        ROGER           VM       40000.00  EN PROCESO
18         None     ALIAGA L      130000.00  EN PROCESO
3          None    AMBIENTAL       30000.00  EN PROCESO
41         None    AMBIENTAL      100000.00  EN PROCESO
54         None        CIELO      120000.00  EN PROCESO
0          None  CO LOGISTIC      141600.00  EN PROCESO
49         None        CUEVA       30000.00  EN PROCESO
12         None      CUSTOMS       98893.00  EN PROCESO
28         None      CUSTOMS       60386.50  EN PROCESO
19         None   ESPINOZA E       39800.00  EN PROCESO
27         None     FLORES E        6033.87  EN PROCESO
11         None       GURKAS      500000.00  EN PROCESO
26         None          GVP       65556.00  EN PROCESO
17         None   IMPULSA OE      200000.00  EN PROCESO
8          None    ITRANSBAR      191740.00  EN PROCESO
16         None         JNGM       12390.00  EN PROCESO
13         None       JOSBER       50000.00  EN PROCESO
53         None      LUMEDIC       87000.00  EN PROCESO
29         None     MECHAN O       13040.00  EN PROCESO
20         None          MHQ      400000.00  EN PROCESO
36         None       NIMA J       33000.00  EN PROCESO
50         None  ORCASITAS C       25000.00  EN PROCESO
48         None     PARODI G       15000.00  EN PROCESO
24         None         SAKJ     1214323.25  EN PROCESO
10         None        SAVAR     4200000.00  EN PROCESO
25         None    SAVAR LOG      662274.34  EN PROCESO
43         None     TRANSTIK       50000.00  EN PROCESO

**REPORTE DE EMITIDOS NO ANULADOS POR ADQUIRIENTE**

In [9]:
"""
PENDIENTE COMPARAR CON PEDIDOS, EL CUADRO PEDIDOS AGRUPARLO POR ADQUIRIENTE Y CONCATENAR LOS CODIGOS DE PEDIDO SI SON MAS DE UNO, LUEGO UNIR CON CUADRO DF3_UNIDO POR ADQUIRIENTE Y NUMERO_DOCUMENTO, RESTAR Y PINTAR LA DIFERENCIA SI ES POSIBLE.
"""

df3_noanulado=acc_5[(acc_5['tipo_comprobante'] == 1) &
    (~acc_5['observaciones'].fillna('').str.contains('ANULADA'))&
    (acc_5['periodo_tributario'] == periodo)]
df3_noanulado['total'] = df3_noanulado['valor'] + df3_noanulado['igv']
df3_noanulado['numero_documento'] = df3_noanulado['numero_documento'].astype(int)
df3_agrupado = df3_noanulado.groupby('numero_documento')['total'].sum().reset_index()
df3_unido=pd.merge(df3_agrupado, adquirientes[['ruc', 'alias', 'related_user']], left_on='numero_documento', right_on='ruc', how='left')
df3_unido['alias'] = df3_unido['alias'].fillna(df3_unido['numero_documento'])
df3_unido = df3_unido.rename(columns={'alias': 'adquiriente', 'related_user': 'cliente'})
df3_ordenado = df3_unido[['cliente', 'adquiriente', 'total']]
df3_resultado = df3_ordenado.sort_values(by=['cliente', 'adquiriente'])
df3_resultado

C:\Users\Raknaros\AppData\Local\Temp\ipykernel_176788\3623243969.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_noanulado['total'] = df3_noanulado['valor'] + df3_noanulado['igv']
C:\Users\Raknaros\AppData\Local\Temp\ipykernel_176788\3623243969.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_noanulado['numero_documento'] = df3_noanulado['numero_documento'].astype(int)

   cliente adquiriente       total
6    AARON   CARRENO A    65998.93
23   AARON  DIVINONINO    40002.70
57   AARON      FARACO    26915.00
19   AARON       FENIX    96215.43
55   AARON         L&S    26640.00
..     ...         ...         ...
18    None        SAKJ  1214328.68
12    None       SAVAR  4103637.84
21    None   SAVAR LOG   665878.58
44    None    TRANSTIK    50000.25
32    None        VIDA    19236.20

[68 rows x 3 columns]

**DETALLE DE LO FACTURADO POR ADQUIRIENTE**

In [7]:
"""
ELABORAR CUADRO POR ADQUIRIENTE Y EXPORTAR A EXCEL
NOMBRE DEL LIBRO: REPORTE_ADQUIRIENTE_PERIODO
HOJA 1 INFORMACION DEL PEDIDO: ADQUIRIENTE(RAZON SOCIAL, RUC), TOTALES (SUB TOTAL, IGV, TOTAL) INFORMACION DE COMPROBANTES(CANTIDAD, PROMEDIO, MIN MAX), FECHA INICIAL, FECHA FINAL
HOJA 2 DETALLE DE LOS PROVEEDORES(NUMEROS DE FACTURA Y GUIA), DETALLE DE LOS ITEMS ADQUIRIDOS, CANTIDADES Y PRECIOS
HOJA 3 DETALLE DE FACTURAS DE FORMA TIPICA
"""

'\nELABORAR CUADRO POR ADQUIRIENTE Y EXPORTAR A EXCEL\nNOMBRE DEL LIBRO: REPORTE_ADQUIRIENTE_PERIODO\nHOJA 1 INFORMACION DEL PEDIDO: ADQUIRIENTE(RAZON SOCIAL, RUC), TOTALES (SUB TOTAL, IGV, TOTAL) INFORMACION DE COMPROBANTES(CANTIDAD, PROMEDIO, MIN MAX), FECHA INICIAL, FECHA FINAL\nHOJA 2 DETALLE DE LOS PROVEEDORES(NUMEROS DE FACTURA Y GUIA), DETALLE DE LOS ITEMS ADQUIRIDOS, CANTIDADES Y PRECIOS\nHOJA 3 DETALLE DE FACTURAS DE FORMA TIPICA\n'

**BANCARIZAR OPERACIONES POR ADQUIRIENTE**

In [8]:
periodo_bancarizar=None
lista_bancarizar=['20600908431', '20612533980', '20516510901', '20600803949', '20600232062', '20507017194']

# Merge de los dataframes acc._5 y priv.entities
df_merge = pd.merge(acc_5, priv_entities, left_on='ruc', right_on='ruc', how='right')
print(df_merge.columns)
# Filtrado de datos
df_filtrado = df_merge[
    (df_merge['tipo_comprobante'] == 1) &
    (~df_merge['observaciones_x'].fillna('').str.contains('ANULADA')) &
    (df_merge['numero_documento'].isin(lista_bancarizar)) &
    (df_merge['periodo_tributario'] == periodo_bancarizar)
    &((df_merge['valor'] + df_merge['igv']) > 1999.99)
]

# Creación de la columna 'total'
df_filtrado['total'] = df_filtrado['valor'] + df_filtrado['igv']

# Creación de la columna 'fecha_cuota1'
df_filtrado['fecha_cuota1'] = df_filtrado.apply(lambda row: acc_7.loc[acc_7['cui_relacionado'] == '5' + row['cui'], 'fecha_cuota1'].values[0] if not acc_7.loc[acc_7['cui_relacionado'] == '5' + row['cui'], 'fecha_cuota1'].empty else None, axis=1)

# Creación de la columna 'fecha_emision'
df_filtrado['fecha_emision'] = df_filtrado.apply(lambda row: row['fecha_emision'] if pd.isnull(row['fecha_cuota1']) else row['fecha_cuota1'], axis=1)

# Selección de columnas
df_resultado = df_filtrado[['numero_documento', 'nombre_razon', 'fecha_emision', 'total', 'numero_serie', 'numero_correlativo']]

# Creación de la columna 'numero_comprobante'
df_resultado['numero_comprobante'] = df_resultado.apply(lambda row: str(row['numero_serie']) + '-' + str(row['numero_correlativo']), axis=1)

# Ordenamiento de columnas
df_resultado = df_resultado[['numero_documento', 'nombre_razon', 'fecha_emision', 'total', 'numero_comprobante']]

# Ordenamiento por 'numero_documento'
df_resultado = df_resultado.sort_values(by=['numero_documento','nombre_razon','fecha_emision'])

Index(['id_x', 'ruc', 'subdiario', 'periodo_tributario', 'tipo_operacion',
       'tipo_comprobante', 'fecha_emision', 'fecha_vencimiento',
       'numero_serie', 'numero_correlativo', 'numero_final', 'tipo_documento',
       'numero_documento', 'destino', 'valor', 'icbp', 'isc', 'otros_cargos',
       'tipo_moneda', 'tasa_detraccion', 'tasa_percepcion', 'medio_pago',
       'tipo_comprobante_modificado', 'numero_serie_modificado',
       'numero_correlativo_modificado', 'glosa', 'cui', 'observaciones_x',
       'cuenta_contable', 'igv', 'nombre_razon', 'usuario_sol', 'clave_sol',
       'activo', 'observaciones_y', 'alias', 'related_user', 'suscribed_until',
       'suscription', 'id_y'],
      dtype='object')

ValueError: Cannot set a DataFrame with multiple columns to the single column fecha_cuota1