In [1]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
salessystem = create_engine(
    'mysql+pymysql://admin:Giu12FF8DB*@salessystem.crkwsaygg8b2.us-east-2.rds.amazonaws.com'
    ':3306/salessystem')

warehouse = create_engine(
    'postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
    ':5432/warehouse')

In [3]:
pedidos=pd.read_sql('SELECT * FROM pedidos', salessystem)
cotizaciones=pd.read_sql('SELECT * FROM facturas', salessystem)
proveedores=pd.read_sql('SELECT * FROM proveedores', salessystem)
adquirientes=pd.read_sql('SELECT * FROM customers', salessystem)
guias=pd.read_sql('SELECT * FROM remision_remitente', salessystem)
vehiculos=pd.read_sql('SELECT * FROM vehiculos', salessystem)
bcp=pd.read_sql('SELECT * FROM v_bcp', salessystem)
info=pd.read_sql('SELECT * FROM info', salessystem)
catalogo=pd.read_sql('SELECT * FROM catalogo', salessystem)
ibk=pd.read_sql('SELECT * FROM v_ibk', salessystem)
acc_7=pd.read_sql('SELECT * FROM acc._7', warehouse)
acc_5=pd.read_sql('SELECT * FROM acc._5', warehouse)
priv_entities=pd.read_sql('SELECT * FROM priv.entities', warehouse)

**PERIODO**

In [4]:
periodo=202505

**TOTAL PEDIDOS DEL PERIODO**

In [5]:
df1_filtrado=pedidos.loc[pedidos['periodo'].isin([periodo])]
df_merge = pd.merge(df1_filtrado, adquirientes[['ruc','alias', 'related_user']], left_on='adquiriente', right_on='ruc', how='left')
df_resultado = df_merge[['related_user', 'alias', 'importe_total', 'estado']]
df1_ordenado = df_resultado.sort_values(by=['related_user', 'alias'])
df1_ordenado

   related_user         alias  importe_total      estado
17        AARON         FENIX       20000.00  EN PROCESO
30        AARON       NEYRA C        6500.00  EN PROCESO
34        AARON      TRANSTIK       60000.00  EN PROCESO
1      ARELLANO   ECONO GROUP       10000.00  EN PROCESO
18     ARELLANO        INNOVA        8000.00  EN PROCESO
0      ARELLANO        JUANDY       30000.00  EN PROCESO
16     ARELLANO      PERUGRAF       12000.00  EN PROCESO
24     ARELLANO        PETITO        3000.00  EN PROCESO
15        EDGAR      BAUTISTA       10000.00  EN PROCESO
11        EDGAR        NIMA J       46000.00  EN PROCESO
32        EDGAR      SEGURA C       11800.00  EN PROCESO
36        KETTY      INFINITY       25000.00  EN PROCESO
6         KETTY          KODO      350000.00  EN PROCESO
40        KETTY     SALINAS F       47790.00  EN PROCESO
9         LIDIA          AFRE       23600.00  EN PROCESO
10        LIDIA       LA & VA       47200.00  EN PROCESO
37   MONTEVERDE            HP      600000.00  EN PROCESO
35        ROGER        SOMMER       70000.00  EN PROCESO
23         None      ALIAGA L       92500.00  EN PROCESO
5          None     AMBIENTAL       20000.00  EN PROCESO
41         None     BELTRAN L        3950.00  EN PROCESO
4          None   BIOTECNAGRO         743.40  EN PROCESO
7          None   CO LOGISTIC      112100.00  EN PROCESO
39         None       CUSTOMS       15186.60  EN PROCESO
14         None     EQUISALUD        2630.00  EN PROCESO
22         None    ESPINOZA E       25800.00  EN PROCESO
33         None           GVP       72112.00  EN PROCESO
31         None    IMPULSA OE      100000.00  EN PROCESO
8          None     ITRANSBAR      680752.00  EN PROCESO
26         None          JNGM       12390.00  EN PROCESO
25         None        JOSBER       40000.00  EN PROCESO
38         None       LUMEDIC       92000.00  EN PROCESO
20         None           MHQ      600000.00  EN PROCESO
3          None  NEWTRANSPORT         697.00  EN PROCESO
2          None        OLCAPA       40000.00  EN PROCESO
12         None       OSCYDIA       10000.00  EN PROCESO
19         None      OYAGUE O        5000.00  EN PROCESO
27         None          SAKJ     1061095.01  EN PROCESO
28         None         SAVAR     2862417.45  EN PROCESO
29         None     SAVAR LOG      222555.87  EN PROCESO
13         None      SHIN WHA        3216.40  EN PROCESO
21          NaN           NaN        1950.00  EN PROCESO

**REPORTE DE EMITIDOS NO ANULADOS POR ADQUIRIENTE**

In [6]:
"""
PENDIENTE COMPARAR CON PEDIDOS, EL CUADRO PEDIDOS AGRUPARLO POR ADQUIRIENTE Y CONCATENAR LOS CODIGOS DE PEDIDO SI SON MAS DE UNO, LUEGO UNIR CON CUADRO DF3_UNIDO POR ADQUIRIENTE Y NUMERO_DOCUMENTO, RESTAR Y PINTAR LA DIFERENCIA SI ES POSIBLE.
"""

df3_noanulado=acc_5[(acc_5['tipo_comprobante'] == 1) &
    (~acc_5['observaciones'].fillna('').str.contains('ANULADA'))&
    (acc_5['periodo_tributario'] == periodo)]
df3_noanulado['total'] = df3_noanulado['valor'] + df3_noanulado['igv']
df3_noanulado['numero_documento'] = df3_noanulado['numero_documento'].astype(int)
df3_agrupado = df3_noanulado.groupby('numero_documento')['total'].sum().reset_index()
df3_unido=pd.merge(df3_agrupado, adquirientes[['ruc', 'alias', 'related_user']], left_on='numero_documento', right_on='ruc', how='left')
df3_unido['alias'] = df3_unido['alias'].fillna(df3_unido['numero_documento'])
df3_unido = df3_unido.rename(columns={'alias': 'adquiriente', 'related_user': 'cliente'})
df3_ordenado = df3_unido[['cliente', 'adquiriente', 'total']]
df3_resultado = df3_ordenado.sort_values(by=['cliente', 'adquiriente'])
df3_resultado

C:\Users\Raknaros\AppData\Local\Temp\ipykernel_6660\3623243969.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_noanulado['total'] = df3_noanulado['valor'] + df3_noanulado['igv']
C:\Users\Raknaros\AppData\Local\Temp\ipykernel_6660\3623243969.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_noanulado['numero_documento'] = df3_noanulado['numero_documento'].astype(int)

       cliente   adquiriente       total
18       AARON         FENIX    14596.43
25       AARON     MI DOCTOR    75359.02
0        AARON       NEYRA C     5421.66
8        AARON   PARIACURI R    58424.20
38       AARON      TRANSTIK    59999.99
31    ARELLANO   ECONO GROUP     8199.69
43    ARELLANO        INNOVA     4768.80
16    ARELLANO        JUANDY    29137.86
35    ARELLANO      PERUGRAF     7557.38
26    ARELLANO        PETITO     3000.71
15       EDGAR      BAUTISTA     6152.87
6        EDGAR        NIMA J    35081.07
2        EDGAR      SEGURA C     9450.93
44       KETTY      INFINITY    29500.92
40       KETTY          KODO   231764.40
7        KETTY     SALINAS F    47791.89
29       LIDIA          AFRE    14374.82
41       LIDIA       LA & VA    34391.00
49  MONTEVERDE            HP   500002.82
45       ROGER        SOMMER    70342.31
10        None      ALIAGA L    82210.60
33        None     AMBIENTAL    13407.16
4         None     BELTRAN L     3951.30
37        None   BIOTECNAGRO      743.40
24        None   CO LOGISTIC    86418.67
48        None       CUSTOMS    18077.60
1         None    ESPINOZA E    25930.50
23        None        GOLDEN     6225.00
30        None           GVP    54229.79
28        None        HEALTH     4000.00
42        None    IMPULSA OE    96411.31
22        None     ITRANSBAR   629894.66
47        None           JET     3277.80
51        None          JNGM    11381.12
34        None        JOSBER    38230.34
9         None      LLANOS E     1171.15
32        None        LLIRPU     7000.01
36        None       LUMEDIC    92006.66
20        None           MHQ   587445.19
12        None  MINERA VALOR      396.48
11        None        NACION     7250.00
14        None  NEWTRANSPORT     2788.00
19        None        OLCAPA    22354.51
53        None       ONTRUCK     5900.00
27        None       OSCYDIA     6927.78
5         None      OYAGUE O     2401.30
46        None       PERUPET    15033.20
17        None          SAKJ   968008.87
13        None         SAVAR  2730046.67
21        None     SAVAR LOG   205634.35
39        None      SHIN WHA     1718.08
52        None         SOJAN   420047.61
50        None       URBANAS   108014.40
3         None   VALERIANO W     6006.93

**DETALLE DE LO FACTURADO POR ADQUIRIENTE**

In [7]:
"""
ELABORAR CUADRO POR ADQUIRIENTE Y EXPORTAR A EXCEL
NOMBRE DEL LIBRO: REPORTE_ADQUIRIENTE_PERIODO
HOJA 1 INFORMACION DEL PEDIDO: ADQUIRIENTE(RAZON SOCIAL, RUC), TOTALES (SUB TOTAL, IGV, TOTAL) INFORMACION DE COMPROBANTES(CANTIDAD, PROMEDIO, MIN MAX), FECHA INICIAL, FECHA FINAL
HOJA 2 DETALLE DE LOS PROVEEDORES(NUMEROS DE FACTURA Y GUIA), DETALLE DE LOS ITEMS ADQUIRIDOS, CANTIDADES Y PRECIOS
HOJA 3 DETALLE DE FACTURAS DE FORMA TIPICA
"""

'\nELABORAR CUADRO POR ADQUIRIENTE Y EXPORTAR A EXCEL\nNOMBRE DEL LIBRO: REPORTE_ADQUIRIENTE_PERIODO\nHOJA 1 INFORMACION DEL PEDIDO: ADQUIRIENTE(RAZON SOCIAL, RUC), TOTALES (SUB TOTAL, IGV, TOTAL) INFORMACION DE COMPROBANTES(CANTIDAD, PROMEDIO, MIN MAX), FECHA INICIAL, FECHA FINAL\nHOJA 2 DETALLE DE LOS PROVEEDORES(NUMEROS DE FACTURA Y GUIA), DETALLE DE LOS ITEMS ADQUIRIDOS, CANTIDADES Y PRECIOS\nHOJA 3 DETALLE DE FACTURAS DE FORMA TIPICA\n'

**BANCARIZAR OPERACIONES POR ADQUIRIENTE**

In [8]:
periodo_bancarizar=None
lista_bancarizar=['20600908431', '20612533980', '20516510901', '20600803949', '20600232062', '20507017194']

# Merge de los dataframes acc._5 y priv.entities
df_merge = pd.merge(acc_5, priv_entities, left_on='ruc', right_on='ruc', how='right')
print(df_merge.columns)
# Filtrado de datos
df_filtrado = df_merge[
    (df_merge['tipo_comprobante'] == 1) &
    (~df_merge['observaciones_x'].fillna('').str.contains('ANULADA')) &
    (df_merge['numero_documento'].isin(lista_bancarizar)) &
    (df_merge['periodo_tributario'] == periodo_bancarizar)
    &((df_merge['valor'] + df_merge['igv']) > 1999.99)
]

# Creación de la columna 'total'
df_filtrado['total'] = df_filtrado['valor'] + df_filtrado['igv']

# Creación de la columna 'fecha_cuota1'
df_filtrado['fecha_cuota1'] = df_filtrado.apply(lambda row: acc_7.loc[acc_7['cui_relacionado'] == '5' + row['cui'], 'fecha_cuota1'].values[0] if not acc_7.loc[acc_7['cui_relacionado'] == '5' + row['cui'], 'fecha_cuota1'].empty else None, axis=1)

# Creación de la columna 'fecha_emision'
df_filtrado['fecha_emision'] = df_filtrado.apply(lambda row: row['fecha_emision'] if pd.isnull(row['fecha_cuota1']) else row['fecha_cuota1'], axis=1)

# Selección de columnas
df_resultado = df_filtrado[['numero_documento', 'nombre_razon', 'fecha_emision', 'total', 'numero_serie', 'numero_correlativo']]

# Creación de la columna 'numero_comprobante'
df_resultado['numero_comprobante'] = df_resultado.apply(lambda row: str(row['numero_serie']) + '-' + str(row['numero_correlativo']), axis=1)

# Ordenamiento de columnas
df_resultado = df_resultado[['numero_documento', 'nombre_razon', 'fecha_emision', 'total', 'numero_comprobante']]

# Ordenamiento por 'numero_documento'
df_resultado = df_resultado.sort_values(by=['numero_documento','nombre_razon','fecha_emision'])

Index(['id_x', 'ruc', 'subdiario', 'periodo_tributario', 'tipo_operacion',
       'tipo_comprobante', 'fecha_emision', 'fecha_vencimiento',
       'numero_serie', 'numero_correlativo', 'numero_final', 'tipo_documento',
       'numero_documento', 'destino', 'valor', 'icbp', 'isc', 'otros_cargos',
       'tipo_moneda', 'tasa_detraccion', 'tasa_percepcion', 'medio_pago',
       'tipo_comprobante_modificado', 'numero_serie_modificado',
       'numero_correlativo_modificado', 'glosa', 'cui', 'observaciones_x',
       'cuenta_contable', 'igv', 'nombre_razon', 'usuario_sol', 'clave_sol',
       'activo', 'observaciones_y', 'alias', 'related_user', 'suscribed_until',
       'suscription', 'id_y'],
      dtype='object')

ValueError: Cannot set a DataFrame with multiple columns to the single column fecha_cuota1