In [1]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
salessystem = create_engine(
    'mysql+pymysql://root:Giu72656770@104.154.92.48'
    ':3306/sales-system')

warehouse = create_engine(
    'postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
    ':5432/warehouse')

In [3]:
pedidos=pd.read_sql('SELECT * FROM pedidos', salessystem)
cotizaciones=pd.read_sql('SELECT * FROM facturas', salessystem)
proveedores=pd.read_sql('SELECT * FROM proveedores', salessystem)
adquirientes=pd.read_sql('SELECT * FROM customers', salessystem)
guias=pd.read_sql('SELECT * FROM remision_remitente', salessystem)
vehiculos=pd.read_sql('SELECT * FROM vehiculos', salessystem)
bcp=pd.read_sql('SELECT * FROM v_bcp', salessystem)
info=pd.read_sql('SELECT * FROM info', salessystem)
catalogo=pd.read_sql('SELECT * FROM catalogo', salessystem)

**PEDIDOS**

In [14]:
df1_filtrado=pedidos.loc[pedidos['estado'].isin(['PENDIENTE', 'EN PROCESO'])]
df1=pd.merge(df1_filtrado,adquirientes,left_on='adquiriente', right_on='ruc', how='left')
df1['alias'] = df1['alias'].fillna(df1['adquiriente'].astype(str))
df1_ordenado = df1.sort_values(by=['periodo', 'related_user', 'alias'])
df1=df1_ordenado[['periodo','related_user','alias', 'importe_total']]
df1

    periodo related_user          alias  importe_total
11   202502        AARON       HUAMAN A      116000.00
2    202502     ARELLANO    ECONO GROUP       10000.00
8    202502     ARELLANO         GAREST       16300.00
1    202502     ARELLANO         JUANDY       30000.00
12   202502     ARELLANO         JUANDY       20000.00
10   202502     ARELLANO       PERUGRAF       10000.00
6    202502   MONTEVERDE           BIBO       50000.00
9    202502          NaN  20601823102.0       15000.00
3    202502         None    CO LOGISTIC      141600.00
14   202502         None        CUSTOMS       20419.49
15   202502         None    FERNANDEZ M       30000.00
0    202502         None     IMPULSA OE      100000.00
5    202502         None      ITRANSBAR      188404.81
7    202502         None         JOSBER       25000.00
13   202502         None            MHQ      650000.00
4    202502         None         NIMA J       38000.00
18   202502         None           SAKJ     1747328.00
16   202502         None          SAVAR     6011693.00
17   202502         None      SAVAR LOG      362581.00