In [1]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
salessystem = create_engine(
    'mysql+pymysql://root:Giu72656770@104.154.92.48'
    ':3306/sales-system')

warehouse = create_engine(
    'postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
    ':5432/warehouse')

In [3]:
pedidos=pd.read_sql('SELECT * FROM pedidos', salessystem)
cotizaciones=pd.read_sql('SELECT * FROM facturas', salessystem)
proveedores=pd.read_sql('SELECT * FROM proveedores', salessystem)
adquirientes=pd.read_sql('SELECT * FROM customers', salessystem)
guias=pd.read_sql('SELECT * FROM remision_remitente', salessystem)
vehiculos=pd.read_sql('SELECT * FROM vehiculos', salessystem)
bcp=pd.read_sql('SELECT * FROM v_bcp', salessystem)
info=pd.read_sql('SELECT * FROM info', salessystem)
catalogo=pd.read_sql('SELECT * FROM catalogo', salessystem)
ibk=pd.read_sql('SELECT * FROM v_ibk', salessystem)
acc_7=pd.read_sql('SELECT * FROM acc._7', warehouse)
acc_5=pd.read_sql('SELECT * FROM acc._5', warehouse)
priv_entities=pd.read_sql('SELECT * FROM priv.entities', warehouse)

**PERIODO**

In [ ]:
periodo=202502

**TOTAL PEDIDOS**

In [6]:
df1_filtrado=pedidos.loc[pedidos['periodo'].isin([periodo])]
df_merge = pd.merge(df1_filtrado, adquirientes[['ruc','alias', 'related_user']], left_on='adquiriente', right_on='ruc', how='left')
df_resultado = df_merge[['related_user', 'alias', 'importe_total', 'estado']]
df1_ordenado = df_resultado.sort_values(by=['related_user', 'alias'])
df1_ordenado

   related_user         alias  importe_total         estado
36        AARON     ARTESANIA       35000.00      TERMINADO
43        AARON      BUSSINES      500000.00      TERMINADO
42        AARON        CASAVA      200000.00      TERMINADO
38        AARON    DIVINONINO       40000.00      TERMINADO
13        AARON      HUAMAN A      116000.00      TERMINADO
39        AARON     SAFETYLAB      110000.00      TERMINADO
37        AARON     SAFETYVET       30000.00      TERMINADO
48        AARON      SAN LUIS       35000.00      TERMINADO
46        AARON  SEYCON GROUP       23000.00      TERMINADO
45        AARON      YAURES A       80000.00      TERMINADO
44        AARON          ZETA      150000.00      TERMINADO
4      ARELLANO   ECONO GROUP       10000.00      TERMINADO
10     ARELLANO        GAREST       16300.00      TERMINADO
3      ARELLANO        JUANDY       50000.00      TERMINADO
12     ARELLANO      PERUGRAF       10000.00      TERMINADO
40        KETTY          KODO      340000.00      TERMINADO
8    MONTEVERDE          BIBO       50000.00      TERMINADO
47   MONTEVERDE            HP     2000000.00      TERMINADO
35        ROGER    APTELCONET       10500.00      TERMINADO
34        ROGER     CALCINA M       24000.00      TERMINADO
33        ROGER        SOMMER      150000.00      TERMINADO
31        ROGER      VARGAS G       60000.00      TERMINADO
32        ROGER            VM       20000.00      TERMINADO
1          None          AFRE       47200.00  POR CONFIRMAR
25         None     AMBIENTAL       50000.00      TERMINADO
5          None   CO LOGISTIC      141600.00      TERMINADO
15         None       CUSTOMS       20419.49      TERMINADO
22         None       ENGELOR       28437.00      TERMINADO
24         None    ESPINOZA E       20000.00      TERMINADO
28         None        FARACO       25000.00      TERMINADO
41         None         FENIX       28386.00      TERMINADO
16         None   FERNANDEZ M       30000.00      TERMINADO
23         None     GESTIONES       15000.00      TERMINADO
30         None            IM       22796.13      TERMINADO
0          None    IMPULSA OE      100000.00      TERMINADO
7          None     ITRANSBAR      188404.81      TERMINADO
49         None     ITRANSBAR      190216.00      TERMINADO
9          None        JOSBER       25000.00      TERMINADO
14         None           MHQ      650000.00      TERMINADO
27         None     MI DOCTOR       75000.00      TERMINADO
20         None       MINGECO       70000.00      TERMINADO
6          None        NIMA J       38000.00      TERMINADO
21         None   ORCASITAS C       30000.00      TERMINADO
29         None       PACCO A       10000.00      TERMINADO
26         None   PARIACURI R       50000.00      TERMINADO
19         None          SAKJ     1747328.00      TERMINADO
2          None         SAVAR     2000000.00        ANULADO
17         None         SAVAR     6011693.00      TERMINADO
18         None     SAVAR LOG      362581.00      TERMINADO
11         None    VILLANUEVA       15000.00      TERMINADO

**BANCARIZAR OPERACIONES POR ADQUIRIENTE**

In [ ]:
periodo_bancarizar=None
lista_bancarizar=['20600908431', '20612533980', '20516510901', '20600803949', '20600232062', '20507017194']

# Merge de los dataframes acc._5 y priv.entities
df_merge = pd.merge(acc_5, priv_entities, left_on='ruc', right_on='ruc', how='right')
print(df_merge.columns)
# Filtrado de datos
df_filtrado = df_merge[
    (df_merge['tipo_comprobante'] == 1) &
    (~df_merge['observaciones_x'].fillna('').str.contains('ANULADA')) &
    (df_merge['numero_documento'].isin(lista_bancarizar)) &
    (df_merge['periodo_tributario'] == periodo_bancarizar)
    &((df_merge['valor'] + df_merge['igv']) > 1999.99)
]

# Creación de la columna 'total'
df_filtrado['total'] = df_filtrado['valor'] + df_filtrado['igv']

# Creación de la columna 'fecha_cuota1'
df_filtrado['fecha_cuota1'] = df_filtrado.apply(lambda row: acc_7.loc[acc_7['cui_relacionado'] == '5' + row['cui'], 'fecha_cuota1'].values[0] if not acc_7.loc[acc_7['cui_relacionado'] == '5' + row['cui'], 'fecha_cuota1'].empty else None, axis=1)

# Creación de la columna 'fecha_emision'
df_filtrado['fecha_emision'] = df_filtrado.apply(lambda row: row['fecha_emision'] if pd.isnull(row['fecha_cuota1']) else row['fecha_cuota1'], axis=1)

# Selección de columnas
df_resultado = df_filtrado[['numero_documento', 'nombre_razon', 'fecha_emision', 'total', 'numero_serie', 'numero_correlativo']]

# Creación de la columna 'numero_comprobante'
df_resultado['numero_comprobante'] = df_resultado.apply(lambda row: str(row['numero_serie']) + '-' + str(row['numero_correlativo']), axis=1)

# Ordenamiento de columnas
df_resultado = df_resultado[['numero_documento', 'nombre_razon', 'fecha_emision', 'total', 'numero_comprobante']]

# Ordenamiento por 'numero_documento'
df_resultado = df_resultado.sort_values(by=['numero_documento','nombre_razon','fecha_emision'])