In [12]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [13]:
salessystem = create_engine(
    'mysql+pymysql://root:Giu72656770@104.154.92.48'
    ':3306/sales-system')

warehouse = create_engine(
    'postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
    ':5432/warehouse')

In [14]:
pedidos=pd.read_sql('SELECT * FROM pedidos', salessystem)
cotizaciones=pd.read_sql('SELECT * FROM facturas', salessystem)
proveedores=pd.read_sql('SELECT * FROM proveedores', salessystem)
adquirientes=pd.read_sql('SELECT * FROM customers', salessystem)
guias=pd.read_sql('SELECT * FROM remision_remitente', salessystem)
vehiculos=pd.read_sql('SELECT * FROM vehiculos', salessystem)
bcp=pd.read_sql('SELECT * FROM v_bcp', salessystem)
info=pd.read_sql('SELECT * FROM info', salessystem)
catalogo=pd.read_sql('SELECT * FROM catalogo', salessystem)

**PEDIDOS**

In [15]:
df1_filtrado=pedidos.loc[pedidos['estado'].isin(['PENDIENTE', 'EN PROCESO'])]
df1=pd.merge(df1_filtrado,adquirientes,left_on='adquiriente', right_on='ruc', how='left')
df1['alias'] = df1['alias'].fillna(df1['adquiriente'].astype(str))
df1_ordenado = df1.sort_values(by=['periodo', 'related_user', 'alias'])
df1=df1_ordenado[['periodo','related_user','alias', 'importe_total', 'cod_pedido', 'estado']]
df1

    periodo related_user          alias  importe_total cod_pedido      estado
11   202502        AARON       HUAMAN A      116000.00  X134FE722  EN PROCESO
2    202502     ARELLANO    ECONO GROUP       10000.00  R134FE6C1  EN PROCESO
8    202502     ARELLANO         GAREST       16300.00  X134FE713  EN PROCESO
1    202502     ARELLANO         JUANDY       30000.00  R134FE6A1  EN PROCESO
12   202502     ARELLANO         JUANDY       20000.00  X134FE723  EN PROCESO
10   202502     ARELLANO       PERUGRAF       10000.00  X134FE721  EN PROCESO
6    202502   MONTEVERDE           BIBO       50000.00  X134FE711  EN PROCESO
9    202502          NaN  20601823102.0       15000.00  X134FE714  EN PROCESO
3    202502         None    CO LOGISTIC      141600.00  R134FE6C2  EN PROCESO
14   202502         None        CUSTOMS       20419.49  X134FE725  EN PROCESO
15   202502         None    FERNANDEZ M       30000.00  X134FE726  EN PROCESO
0    202502         None     IMPULSA OE      100000.00  I134FE5C1  EN PROCESO
5    202502         None      ITRANSBAR      188404.81  R134FE6E2  EN PROCESO
7    202502         None         JOSBER       25000.00  X134FE712  EN PROCESO
13   202502         None            MHQ      650000.00  X134FE724  EN PROCESO
4    202502         None         NIMA J       38000.00  R134FE6E1  EN PROCESO
18   202502         None           SAKJ     1747328.00  X134FE729   PENDIENTE
16   202502         None          SAVAR     6011693.00  X134FE727   PENDIENTE
17   202502         None      SAVAR LOG      362581.00  X134FE728   PENDIENTE

In [16]:
df2 = cotizaciones.loc[cotizaciones['cod_pedido'].isin(df1['cod_pedido'].tolist())].copy()  # Crea una copia explícita
df2.loc[:, 'total'] = round((df2['cantidad'].astype(float) * df2['precio_unit'].astype(float)) * 1.18, 0).astype(int)
df2_totales = df2.groupby('cod_pedido')['total'].sum().reset_index()
#df2_totales
df2_comparado=pd.merge(df2_totales,df1,on='cod_pedido', how='left')
df2_comparado

,cod_pedido,total,periodo,related_user,alias,importe_total,estado
0,I134FE5C1,99856,202502,None,IMPULSA OE,100000.00,EN PROCESO
1,R134FE6A1,29997,202502,ARELLANO,JUANDY,30000.00,EN PROCESO
2,R134FE6C1,10001,202502,ARELLANO,ECONO GROUP,10000.00,EN PROCESO
3,R134FE6C2,141601,202502,None,CO LOGISTIC,141600.00,EN PROCESO
4,R134FE6E1,38000,202502,None,NIMA J,38000.00,EN PROCESO
5,R134FE6E2,188409,202502,None,ITRANSBAR,188404.81,EN PROCESO
6,X134FE711,50000,202502,MONTEVERDE,BIBO,50000.00,EN PROCESO
7,X134FE712,25000,202502,None,JOSBER,25000.00,EN PROCESO
8,X134FE713,16301,202502,ARELLANO,GAREST,16300.00,EN PROCESO
9,X134FE714,15001,202502,NaN,20601823102.0,15000.00,EN PROCESO
10,X134FE721,10002,202502,ARELLANO,PERUGRAF,10000.00,EN PROCESO
11,X134FE722,115999,202502,AARON,HUAMAN A,116000.00,EN PROCESO
12,X134FE723,20002,202502,ARELLANO,JUANDY,20000.00,EN PROCESO
13,X134FE724,650000,202502,None,MHQ,650000.00,EN PROCESO
14,X134FE725,20419,202502,None,CUSTOMS,20419.49,EN PROCESO
15,X134FE726,30003,202502,None,FERNANDEZ M,30000.00,EN PROCESO