**LIBRERIAS**

In [117]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta
from dotenv import load_dotenv
import os
import time
import numpy as np

# Cargar variables de entorno
load_dotenv()

True

**CONEXIONES**

In [118]:
try:
    # Conexión a SalesSystem (Facturación) - Comentada pero usando variables de entorno
    """
    salessystem_url = f"{os.getenv('DB_SALESSYSTEM_DIALECT')}://{os.getenv('DB_SALESSYSTEM_USER')}:{os.getenv('DB_SALESSYSTEM_PASSWORD')}@{os.getenv('DB_SALESSYSTEM_HOST')}:{os.getenv('DB_SALESSYSTEM_PORT')}/{os.getenv('DB_SALESSYSTEM_NAME')}"
    salessystem = create_engine(salessystem_url)
    """
    
    # Conexión a Warehouse (Contabilidad)
    warehouse_url = f"{os.getenv('DB_WAREHOUSE_DIALECT')}://{os.getenv('DB_WAREHOUSE_USER')}:{os.getenv('DB_WAREHOUSE_PASSWORD')}@{os.getenv('DB_WAREHOUSE_HOST')}:{os.getenv('DB_WAREHOUSE_PORT')}/{os.getenv('DB_WAREHOUSE_NAME')}"
    warehouse = create_engine(warehouse_url)
    
    # Validar la conexión
    with warehouse.connect() as conn_warehouse:
        pass
        
except Exception as e:
    print(f"Error al conectar a la base de datos: {str(e)}")
    raise

**VARIABLES**

In [119]:
def get_mes_anterior(meses):
    fecha_actual = datetime.now()
    mes_anterior = fecha_actual - relativedelta(months=meses)
    return int(mes_anterior.strftime('%Y%m'))
periodo_cerrado = get_mes_anterior(1)
periodo_corriente = get_mes_anterior(0)
ejercicio_corriente = periodo_corriente // 100
ejercicio_cerrado = ejercicio_corriente - 1

In [120]:
periodo_seleccionado = periodo_cerrado #Cambiar al periodo deseado (formato aaaamm)
ejercicio_seleccionado = ejercicio_corriente #Cambiar al ano deseado

**CONSULTAS CENTRALES**

In [136]:
# 2. Función Inteligente de Carga
def cargar_datos(nombre_tabla, query_sql, con, params=None, forzar_bd=False, ttl_minutos=60):
    """
    Carga datos con caché inteligente.
    ttl_minutos: Tiempo de vida del archivo. Si es más viejo que esto, se recarga.
                 (Por defecto 60 minutos). Pon 0 para recargar siempre.
    """
    # --- CORRECCIÓN AUTOMÁTICA DE PARÁMETROS ---
    # Si params es una lista (ej: [2025]), lo convertimos a tupla (ej: (2025,))
    # Esto satisface a SQLAlchemy y evita el ArgumentError.
    if isinstance(params, list):
        params = tuple(params)
    # -------------------------------------------
    # 1. Generar nombre de archivo
    sufijo = ""
    if params:
        sufijo = "_" + "_".join(str(p) for p in params)
    archivo_cache = f"cache_{nombre_tabla}{sufijo}.parquet"

    # 2. Verificar existencia y antigüedad
    cargar_de_cache = False

    if os.path.exists(archivo_cache) and not forzar_bd:
        # Obtenemos la última modificación del archivo
        tiempo_modificacion = os.path.getmtime(archivo_cache)
        tiempo_actual = time.time()
        edad_minutos = (tiempo_actual - tiempo_modificacion) / 60

        if edad_minutos < ttl_minutos:
            print(f"⚡ Caché válido ({edad_minutos:.1f} min). Cargando '{nombre_tabla}'...")
            cargar_de_cache = True
        else:
            print(f"♻️ Caché expirado ({edad_minutos:.1f} min > {ttl_minutos} min). Recargando BD...")

    # 3. Ejecutar carga (Cache o BD)
    if cargar_de_cache:
        return pd.read_parquet(archivo_cache)

    # Si llegamos aquí es porque no existe, se forzó o expiró
    print(f"⏳ Descargando '{nombre_tabla}' desde Base de Datos...")
    df = pd.read_sql(query_sql, con=con, params=params)

    df.to_parquet(archivo_cache, index=False)
    return df

# --- BLOQUE DE CARGA MAESTRA ---
priv_entities=cargar_datos("priv_entities",
                           "SELECT * FROM priv.entities ORDER BY ruc ASC",
                           con=warehouse)
acc_5=cargar_datos("acc_5",
                   "SELECT * FROM acc._5 WHERE periodo_tributario= %s",
                   con=warehouse,
                   params=[periodo_seleccionado,])
acc_6=cargar_datos("acc_6",
                   "SELECT * FROM acc._6 WHERE periodo_tributario= %s",
                   con=warehouse,
                   params=[periodo_seleccionado,])

acc_8=cargar_datos("acc_8",
                   "SELECT * FROM acc._8 WHERE periodo_tributario= %s",
                   con=warehouse,
                   params=[periodo_seleccionado,])

acc_9=cargar_datos("acc_9",
                   "SELECT * FROM acc._9 WHERE periodo_tributario> %s",
                   con=warehouse,
                   params=[get_mes_anterior(3),])

acc_10=cargar_datos("acc_10",
                   "SELECT * FROM acc._10 WHERE periodo_tributario> %s",
                   con=warehouse,
                   params=[get_mes_anterior(3),])

acc_cuotas_facturas=cargar_datos("acc_cuotas_facturas",
                             "SELECT * FROM acc.cuotas_facturas WHERE cui_relacionado IN "
                            "(SELECT cui FROM acc._5 WHERE periodo_tributario= %s"
                            " UNION "
                            "SELECT cui FROM acc._5 WHERE periodo_tributario= %s)",
                            con=warehouse,
                            params=[periodo_seleccionado, periodo_seleccionado])

#Tabla Tipo de Cambio
# 1. Cargar TC

df_tc_raw = cargar_datos("public_tc", "SELECT fecha_sunat, usd_b, usd_s FROM public.tc "
                                      "WHERE fecha_sunat >= (TO_DATE(CAST(%s AS TEXT), 'YYYYMM') - INTERVAL '12 months') "
                                      "AND fecha_sunat <  (TO_DATE(CAST(%s AS TEXT), 'YYYYMM') + INTERVAL '1 month')"
                                      "ORDER BY fecha_sunat ASC", con=warehouse, params=(periodo_seleccionado, periodo_seleccionado))
# 2. Preparar Fechas y Rellenar Huecos (ffill)
df_tc_raw['fecha_sunat'] = pd.to_datetime(df_tc_raw['fecha_sunat'])
# Creamos un rango de fechas que cubra desde el inicio hasta el fin de los datos para no dejar vacíos
rango_fechas = pd.date_range(start=df_tc_raw['fecha_sunat'].min(), end=df_tc_raw['fecha_sunat'].max(), freq='D')
df_tc = pd.DataFrame({'fecha_sunat': rango_fechas})
# Unimos con los datos reales y rellenamos hacia adelante
df_tc = df_tc.merge(df_tc_raw, on='fecha_sunat', how='left').sort_values('fecha_sunat')
df_tc[['usd_b', 'usd_s']] = df_tc[['usd_b', 'usd_s']].ffill()
print("✅ Tabla de Tipo de Cambio preparada y rellenada.")
print("✅ Todo listo en memoria. Conexión a BD no se usa más.")

⚡ Caché válido (11.4 min). Cargando 'priv_entities'...
⚡ Caché válido (11.4 min). Cargando 'acc_5'...
⚡ Caché válido (11.4 min). Cargando 'acc_6'...
⚡ Caché válido (11.4 min). Cargando 'acc_8'...
⚡ Caché válido (11.4 min). Cargando 'acc_9'...
⚡ Caché válido (11.4 min). Cargando 'acc_10'...
⚡ Caché válido (11.4 min). Cargando 'acc_cuotas_facturas'...
⏳ Descargando 'public_tc' desde Base de Datos...
✅ Tabla de Tipo de Cambio preparada y rellenada.
✅ Todo listo en memoria. Conexión a BD no se usa más.

**EMPRESAS ACTIVAS ORDENADAS SEGUN ULTIMO DIGITO**

In [122]:
entities_1 = (
    priv_entities
    .sort_values(
        by=['activo', 'observaciones'],
        ascending=[False, True],  # True primero (desc), Observaciones A-Z (asc)
        na_position='first'       # Los NaN/Vacíos aparecen al inicio de cada grupo
    )
    [['usuario_sol', 'clave_sol', 'nombre_razon', 'ruc', 'alias', 'activo', 'observaciones']]
)
display(entities_1)

,usuario_sol,clave_sol,nombre_razon,ruc,alias,activo,observaciones
3,RUPPORDI,Maria2024@,FERNANDEZ BAUTISTA MARIA LIDIA,10085917213,FERNANDEZ M,True,None
6,09367746,eSTUDIOMAR1,MECHAN GOYZUETA OSCAR,10093677469,MECHAN O,True,None
11,10588081,Danea@011074,BELTRAN GARCIA LEONARDO MARTIN,10105880818,BELTRAN G LE,True,None
15,JUAN4242,123456789,RAZETO GUEVARA JUAN MIGUEL,10255508739,RAZETO J,True,None
16,AMBONKEY,inetablub,PAJUELO ARANIBAR PIERRE NIKOLAI,10297073058,PAJUELO P,True,None
...,...,...,...,...,...,...,...
70,FLOTPRES,lotighthr,KENTHIVAS,20553737100,KENTHIVAS,False,PROBLEMA NO HABIDO
73,UANYPOPO,marymurnb,EIMAR ELECTRIC EIRL,20563643821,EIMAR,False,PROBLEMA NO HABIDO
84,HANTNTUM,troneggla,CONSTRUCTORA E INVERSIONES JL 2,20601893046,JL 2,False,PROBLEMA NO HABIDO
111,NGUERFAB,otandshud,DON27 E.I.R.L.,20608765400,DON27,False,PROBLEMA NO HALLADO
34,47205286,CabezaRoper10,ROJAS PEREZ EDWIN STEVEN,10472052867,ROJAS S,False,SIN NEGOCIO

**RESUMEN ACTIVOS CON SIRE

In [138]:
def restar_un_mes(p):
    return (p - 1) if p % 100 > 1 else (p - 100) + 11

periodo_ant = restar_un_mes(periodo_seleccionado)

# --- Función interna para procesar v y c rápidamente ---
def procesar_df_con_soles(df_orig, tc_data):
    if df_orig.empty: return df_orig.copy()

    df = df_orig.copy()
    df['fecha_emision'] = pd.to_datetime(df['fecha_emision'])

    # Realizamos el Join con la tabla de TC ya rellenada
    df = df.merge(tc_data, left_on='fecha_emision', right_on='fecha_sunat', how='left')

    # Columnas monetarias estándar de SUNAT
    cols = ['valor', 'igv', 'isc', 'otros_cargos', 'icbp', 'total_igv', 'valor_venta']

    for col in cols:
        if col in df.columns:
            # Multiplicamos por TC Venta si es USD, de lo contrario se mantiene PEN
            df[col] = np.where(df['tipo_moneda'] == 'USD', df[col] * df['usd_s'], df[col])

    return df

# --- INICIALIZACIÓN DE VARIABLES DE TRABAJO ---
v = procesar_df_con_soles(acc_5, df_tc)
c = procesar_df_con_soles(acc_8, df_tc)
a9 = acc_9.copy()

# 1. NORMALIZACIÓN DE SIGNOS (A prueba de errores de base de datos)
# Esta función asegura que Facturas sean (+) y Notas de Crédito sean (-)
def aplicar_naturaleza(columna):
    return np.where(v['tipo_comprobante'] == 7, -v[columna].abs(), v[columna].abs())

v['valor_n'] = aplicar_naturaleza('valor')
v['igv_n'] = aplicar_naturaleza('igv')
v['isc_n'] = aplicar_naturaleza('isc')
v['icbp_n'] = aplicar_naturaleza('icbp')

# 2. IDENTIFICACIÓN DE NOTAS DE CRÉDITO (PERIODO ANTERIOR)
is_nc = (v['tipo_comprobante'] == 7)

# Formatear el tipo de documento modificado (ej: 1 -> '01')
v['tipo_mod_fmt'] = v['tipo_comprobante_modificado'].fillna(0).astype(int).apply(lambda x: f"{x:02d}")

# Extraer el Hex(RUC) para reconstruir el CUI de referencia
v['hex_ruc'] = v['ruc'].apply(lambda x: hex(int(x))[2:])

# Reconstrucción del CUI de la factura original que se está modificando
v['cui_referencia'] = np.where(
    is_nc,
    v['hex_ruc'] + v['tipo_mod_fmt'] + \
    v['numero_serie_modificado'].astype(str).str.strip() + \
    v['numero_correlativo_modificado'].astype(str).str.strip(),
    None
)

# Set de CUIs presentes en este mes para el cruce
cuis_del_mes = set(v['cui'].unique())

# Si la referencia NO está en el mes actual, es del periodo anterior
v['es_nc_anterior'] = np.where(is_nc & (~v['cui_referencia'].isin(cuis_del_mes)), True, False)

# 3. CLASIFICACIÓN Y JERARQUÍA
is_ivap = (v['tipo_operacion'] == 40)
is_export = (v['tipo_operacion'] == 17)
is_std = ~(is_ivap | is_export)

# --- VENTAS GRAVADAS ---
# (Valor de destino 1 y 3) que NO son de periodos anteriores
v['v_gravadas'] = np.where(is_std & v['destino'].isin([1, 3]) & (~v['es_nc_anterior']),
                           v['valor_n'], 0)

# --- DESCUENTO PERIODOS ANTERIORES ---
# (Valor de NC gravadas) cuya factura original no está en este mes
v['v_desc'] = np.where(is_std & v['destino'].isin([1, 3]) & v['es_nc_anterior'],
                                v['valor_n'], 0)

# --- VENTAS NO GRAVADAS ---
v['v_nogravadas'] = np.where(is_std & (v['destino'] == 2), v['valor_n'], 0) + \
                    np.where(is_std & (v['destino'] == 3), v['otros_cargos'], 0)

# --- VENTAS OTROS ---
v['v_otros'] = np.where(is_std & v['destino'].isin([1, 2]), v['otros_cargos'], 0)

# --- IVAP / EXPORT / IMPUESTOS ---
# IVAP suma valor + igv (con el signo ya normalizado en _n)
v['v_ivap'] = np.where(is_ivap, v['valor_n'] + v['igv_n'], 0)
v['v_export'] = np.where(is_export, v['valor_n'], 0)
v['v_isc'] = v['isc_n']
v['v_icbp'] = v['icbp_n']

# 4. AGRUPACIÓN FINAL
resumen_v = v.groupby('ruc').agg({
    'v_export': 'sum', 'v_ivap': 'sum', 'v_gravadas': 'sum',
    'v_desc': 'sum', 'v_nogravadas': 'sum', 'v_otros': 'sum',
    'v_isc': 'sum', 'v_icbp': 'sum'
}).rename(columns=lambda x: x.replace('v_', 'ventas_'))

# --- SOLUCIÓN PARA EL SIGNO ---
# En lugar de multiplicar por -1, usamos esta lógica:
# Si es Tipo 7, forzamos que sea negativo (-abs).
# Si no, nos aseguramos de que sea positivo (abs).
def aplicar_naturaleza_compras(columna):
    return np.where(c['tipo_comprobante'] == 7, -c[columna].abs(), c[columna].abs())

# Aplicamos la función a los montos base antes de clasificar
c['valor_neto'] = aplicar_naturaleza_compras('valor')
c['igv_neto'] = aplicar_naturaleza_compras('igv')
c['isc_neto'] = aplicar_naturaleza_compras('isc')
c['icbp_neto'] = aplicar_naturaleza_compras('icbp')

# --- REGLA: TASA IGV ---
# Usamos los valores absolutos para la tasa para evitar errores de división con negativos
c['tasa'] = np.where(c['valor'].abs() != 0, c['igv'].abs() / c['valor'].abs(), 0)

# --- Banderas ---
is_not_op_18 = (c['tipo_operacion'] != 18)
is_grav_dest = c['destino'].isin([1, 2, 3, 5])

# --- CLASIFICACIÓN USANDO LOS VALORES NETOS ---
c['c_grav18'] = np.where(is_not_op_18 & is_grav_dest & (c['tasa'] >= 0.15),
                         c['valor_neto'], 0)

c['c_grav10'] = np.where(is_not_op_18 & is_grav_dest & (c['tasa'] < 0.15),
                         c['valor_neto'], 0)

c['c_nograv'] = np.where(is_not_op_18 & (c['destino'] == 4), c['valor_neto'], 0) + \
                np.where(is_not_op_18 & (c['destino'] == 5), c['otros_cargos'], 0)

c['c_isc'] = c['isc_neto']
c['c_icbp'] = c['icbp_neto']
c['c_otros'] = np.where(is_not_op_18 & (c['destino'] != 5), c['otros_cargos'], 0)

# 4. AGRUPACIÓN FINAL
resumen_c = c.groupby('ruc').agg({
    'c_grav18': 'sum',
    'c_grav10': 'sum',
    'c_nograv': 'sum',
    'c_isc': 'sum',
    'c_icbp': 'sum',
    'c_otros': 'sum'
}).rename(columns=lambda x: x.replace('c_', 'compras_'))

# 5. SALDO ANTERIOR (Regla 1: Si existe en acc_9)
resumen_saldos = (
    a9[a9['periodo_tributario'] == periodo_ant]
    .sort_values(['ruc', 'numero_orden'], ascending=[True, False])
    .drop_duplicates('ruc')
    .copy()
)

# Aplicamos lógica: Si el valor es negativo, mantenemos el número.
# Si es 0 o positivo, ponemos 'Sin credito fiscal'.
resumen_saldos['saldo_favor_ant'] = np.where(
    resumen_saldos['_184'] < 0,
    resumen_saldos['_184'],
    'Sin credito fiscal'
)

# Preparamos el índice para la unión
resumen_saldos = resumen_saldos[['ruc', 'saldo_favor_ant']].set_index('ruc')

# 6. CONSOLIDACIÓN FINAL
# Al hacer concat, los RUCs que no están en resumen_saldos quedarán como NaN
resumen_final = pd.concat([resumen_v, resumen_c, resumen_saldos], axis=1).reset_index()

# 7. TRATAMIENTO DE NULOS (Regla 2: Si NO existe en acc_9)

# A. Para todas las columnas numéricas (ventas/compras), ponemos 0
cols_num = resumen_final.select_dtypes(include=[np.number]).columns
resumen_final[cols_num] = resumen_final[cols_num].fillna(0)

# B. Para la columna de saldo:
# Los que eran NaN aquí son los que no tenían fila en acc_9 para ese periodo.
resumen_final['saldo_favor_ant'] = resumen_final['saldo_favor_ant'].fillna('No registra DJ')

# 8. UNIÓN CON ENTIDADES Y ORDEN FINAL
resumen_final = resumen_final.merge(priv_entities[['ruc', 'alias']], on='ruc', how='left')

cols = ['ruc', 'alias', 'saldo_favor_ant'] + [c for c in resumen_final.columns if c not in ['ruc', 'alias', 'saldo_favor_ant']]
resumen_final = resumen_final[cols]

resumen_final = (
    resumen_final
    .assign(u_digito = lambda x: x['ruc'] % 10) # Crea columna temporal con el último dígito
    .sort_values(by=['u_digito', 'ruc'], ascending=[True, True]) # Ordena por dígito y luego alias
    .drop(columns='u_digito') # Elimina la columna temporal para que no ensucie el reporte
)

# Reiniciar el índice para que sea correlativo tras el ordenamiento
resumen_final = resumen_final.reset_index(drop=True)

display(resumen_final)

,ruc,alias,saldo_favor_ant,ventas_export,ventas_ivap,ventas_gravadas,ventas_desc,ventas_nogravadas,ventas_otros,ventas_isc,ventas_icbp,compras_grav18,compras_grav10,compras_nograv,compras_isc,compras_icbp,compras_otros
0,15609947851,MINIER D,No registra DJ,0.0,0.0,3500.00,0.0,0.0,0.0,0.0,0.0,3540.81,0.00,0.00,0.0,0.0,4.67
1,20522580491,GEOSSTRATOS,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00
2,20609943611,CLARDENT,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,4047.32,63.51,50.00,0.0,0.0,0.00
3,20610428101,SONIC SERV,No registra DJ,0.0,0.0,1273369.14,0.0,0.0,0.0,0.0,0.0,0.00,0.00,30.05,0.0,0.0,0.00
4,20610704281,ROMARK,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,166.14,0.00,50.00,0.0,0.0,0.00
5,20613530101,GADCA,No registra DJ,0.0,0.0,1225913.54,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00
6,10327322422,NARRO D,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,9.65,0.0,0.0,0.00
7,10456396572,LLANOS E,No registra DJ,0.0,0.0,8300.00,0.0,0.0,0.0,0.0,0.0,9053.06,0.00,0.00,0.5,0.0,0.00
8,20606169222,CIELO,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,42.80,0.0,0.0,0.00
9,20614301172,GSMT,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,124.83,0.00,238.48,0.0,0.0,0.00
10,10085917213,FERNANDEZ M,No registra DJ,0.0,0.0,12908.46,0.0,0.0,0.0,0.0,0.0,1921.02,9.79,385.63,0.0,0.0,0.00
11,20613333593,PARJU,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00
12,10097937724,ESPINOZA E,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,60000.70,0.00,0.00,0.0,0.0,0.00
13,10779181575,TARDILLO C,No registra DJ,0.0,0.0,6910.00,0.0,0.0,0.0,0.0,0.0,5241.73,520.47,123.80,0.0,0.0,2.08
14,20544564685,LA FRONTERA,No registra DJ,0.0,0.0,1727.13,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00
15,10726501306,ALIAGA L,No registra DJ,0.0,0.0,172828.83,0.0,0.0,0.0,0.0,0.0,119011.19,0.00,2468.92,0.0,0.0,0.00
16,20550103746,CONSUL CELIZ,No registra DJ,0.0,0.0,418990.35,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00
17,20610892346,MATOAN,No registra DJ,0.0,0.0,1018.00,0.0,0.0,0.0,0.0,0.0,2338.96,0.00,0.00,0.0,0.0,0.00
18,10406916087,CELIZ C,No registra DJ,0.0,0.0,14820.89,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00
19,10105880818,BELTRAN G LE,No registra DJ,0.0,0.0,5500.00,0.0,0.0,0.0,0.0,0.0,4940.01,441.02,24.80,0.0,0.0,28.58
20,10297073058,PAJUELO P,No registra DJ,0.0,0.0,2500.00,0.0,0.0,0.0,0.0,0.0,3228.84,117.65,124.26,0.0,0.0,0.00
21,20135630048,MAESTRANZA,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,16.95,0.00,0.00,0.0,0.0,0.00
22,20606283858,IMPULSA OE,No registra DJ,0.0,0.0,190361.11,0.0,0.0,0.0,0.0,0.0,206618.47,1386.84,92.80,0.0,0.0,116.72
23,20613526138,CANTON,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,508.47,0.00,99.00,0.0,0.0,0.00
24,20615108988,COMERALL,No registra DJ,0.0,0.0,288765.78,0.0,0.0,0.0,0.0,0.0,145899.00,0.00,0.00,0.0,0.0,0.00
25,10093677469,MECHAN O,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,402.12,0.00,0.00,0.0,0.0,0.00
26,10255508739,RAZETO J,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,1459.76,115.46,19.29,0.0,0.0,0.00
27,20548030529,RPM,No registra DJ,0.0,0.0,1119599.47,0.0,0.0,0.0,0.0,0.0,7365.22,0.00,0.00,0.0,0.0,0.00
28,20603043309,IMPULSAMAS,No registra DJ,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,300.00,0.00,0.00,0.0,0.0,0.00

**DECLARACIONES PENDIENTES MES EN CURSO**

In [124]:
# Filtro de periodo
acc_9_filtrado = acc_9[(acc_9['periodo_tributario'] == periodo_cerrado)]
# Filtro de no declarados
acc_9_filtrado = acc_9_filtrado[acc_9_filtrado['numero_orden'].isna()]
# Filtro de columnas
acc_9_filtrado = acc_9_filtrado[['ruc', 'periodo_tributario', 'fecha_presentacion','_100','_107','_301','_145']]
# Realizar un join entre priv_entities y acc_9_filtrado
resultado_join = entities_1.merge(acc_9_filtrado, on='ruc', how='left')
resultado_sin_coincidencias = resultado_join[resultado_join['periodo_tributario'].notna()]

In [125]:
resultado_sin_coincidencias

Empty DataFrame
Columns: [usuario_sol, clave_sol, nombre_razon, ruc, alias, activo, observaciones, periodo_tributario, fecha_presentacion, _100, _107, _301, _145]
Index: []

**PLANILLA**

In [126]:
#NUEVA ESTRUCTURA DE REPORTE PARA PAGO DE PLANILLAS DEL MES
'''	join	join	join		concat1	concat1	if tipo_contrato A TIEMPO PARCIAL horas trabajadas 120, default 240				
ide.ruc	entities.usuario_sol	entities.clave_sol	entities.alias	ide.numero_documento	ide.nombre	ide.apellido_paterno	tra.tipo_contrato	ssc.salud	ssc.pension	comisiones_afp.sobre_flujo	comisiones_afp.obligatorio
tipo_documento#
numero_documento#
apellido_paterno#
apellido_materno#
nombres#
situacion#
tipo_trabajador#
tipo_regimen_salud
fecha_inicio_salud
EPS/Serv. Propio
tipo_regimen_pension
fecha_inicio_pension
CUSPP
sctr_salud_ninguno
sctr_salud_essalud
scrt_salud_eps
scrt_pension_ninguno
sctr_pension_onp
sctr_pension_privado
rentas_lir
evit_doble_imp
'''
planillas=pd.read_sql("SELECT entities.alias, ide.numero_documento, CONCAT(ide.nombre,' ', ide.apellido_paterno), tra.regimen_laboral, tra.remuneracion FROM payroll.ide INNER JOIN payroll.tra ON ide.cui=tra.cui_relacionado LEFT JOIN priv.entities ON entities.ruc=ide.ruc WHERE tra.situacion='ACTIVO' ORDER BY entities.alias", warehouse)
planillas

,alias,numero_documento,concat,regimen_laboral,remuneracion
0,ALIAGA L,21141522,DONATO LOPEZ,MICROEMPRESA,1025
1,ALIAGA L,46482712,SEGUNDO BENANCIO AMASIFUEN,MICROEMPRESA,1025
2,CIELO,44780820,LILIANA MIRELY COCHACHIN,D LEG N.° 728,1500
3,CLARDENT,47251373,CLARA GISELA RAMOS,MICROEMPRESA,513
4,CONSUL CACH,07635569,ROBERTO GLORIOSO ARANDA,D LEG N.° 728,1025
5,CONSUL CELIZ,07618161,JOSE ANTONIO PESANTES,D LEG N.° 728,1025
6,ELITE,40691608,CARLOS ALBERTO CELIZ,D LEG N.° 728,1500
7,ELITE,46135144,JESUS MARTIN GIRATA,D LEG N.° 728,1025
8,ESPINO,40081708,MAYRA JANNELLE VELA,D LEG N.° 728,1025
9,ESPINO,40227069,GIULIO SANDRO ESPINO,D LEG N.° 728,1025
10,FERNANDEZ M,08591721,MARIA LIDA FERNANDEZ,MICROEMPRESA,1025
11,IML,76374034,EVELYN XIMENA RAMIREZ,D LEG N.° 728,1025
12,IML,61396041,JUN HE,D LEG N.° 728,1025
13,IML,45663759,JOSUE SEDEQUIAS SAAVEDRA,D LEG N.° 728,1025
14,IML,75950584,LUZ MARINA SALAS,D LEG N.° 728,1025
15,IML,46116679,ALEX WILMER VALDIVIEZO,D LEG N.° 728,1025
16,ING CACH,08616804,ZULEMA GERTRUDIS GIL,D LEG N.° 728,1025
17,ING CELIZ,47802012,ELIZABETH DEL ROSARIO LLANOS,D LEG N.° 728,1025
18,INV SONIC,47205286,EDWIN STEVEN ROJAS,D LEG N.° 728,1025
19,INV SONIC,73763447,RONALD CACH CELIZ,D LEG N.° 728,1025
20,JL 2,42007238,ANGELICA LUNA,D LEG N.° 728,930
21,JL 2,47366926,JOSE ANTONIO MACHADO,D LEG N.° 728,930
22,JL 2,45657475,LIZZETH HUAMALI,D LEG N.° 728,930
23,KENTHIVAS,40256257,ELVIS HENRY VASQUEZ,D LEG N.° 728,1025
24,MAESTRANZA,07564704,ANIBAL EDUARDO CHAVEZ,D LEG N.° 728,1025
25,NEGORA BILLY,46409146,NELSON LOLIN CHUCO,D LEG N.° 728,1025
26,RPM,08874061,EVELYN CORAL BELTRAN,PEQUEÑA EMPRESA,1025
27,RPM,76057495,CECILIA MARIA TORRES,PEQUEÑA EMPRESA,1025
28,RPM,70469623,PILAR VICTORIA CASTRO,PEQUEÑA EMPRESA,513
29,SONIC SERV,41014357,LIDIA ESTHER LEON,D LEG N.° 728,1025
30,SONIC SERV,47205286,EDWIN STEVEN ROJAS,D LEG N.° 728,1025

**RESUMEN SIRE**

In [127]:
ventas=pd.read_sql("SELECT * FROM acc._5 WHERE periodo_tributario=" + str(periodo_seleccionado), warehouse)
compras=pd.read_sql("SELECT * FROM acc._8 WHERE periodo_tributario=" + str(periodo_seleccionado), warehouse)
ventas_exportaciones=ventas.loc[
    (ventas['tipo_operacion'] == 17) &
    (ventas['destino'] == 2),
    ].groupby('ruc')['valor'].sum().rename("ventas_exportaciones")
nogravadas_destino_2=ventas.loc[
    (ventas['tipo_operacion'] == 1) &
    (ventas['tipo_comprobante'] != 7) &
    (ventas['destino'] == 2), 
    ].groupby('ruc')['valor'].sum()
nogravadas_destino_3=ventas.loc[
    (ventas['tipo_operacion'] == 1) &
    (ventas['tipo_comprobante'] != 7) &
    (ventas['destino'] == 3), 
    ].groupby('ruc')['otros_cargos'].sum()
ventas_nogravadas = nogravadas_destino_2.add(nogravadas_destino_3, fill_value=0).rename("ventas_nogravadas")
ventas_gravadas=ventas.loc[
    (ventas['tipo_operacion'] == 1) &
    (ventas['tipo_comprobante'] != 7) &
    (ventas['destino'] != 2),
    ].groupby('ruc')['valor'].sum().rename("ventas_gravadas")
ventas_ivap=ventas.loc[
    (ventas['tipo_comprobante'] != 7) &
    (ventas['destino'] == 4),
    ].groupby('ruc')['valor'].sum().rename("ventas_ivap")
ventas_isc=ventas.loc[
    (ventas['tipo_comprobante'] != 7)
    ].groupby('ruc')['isc'].sum().rename("ventas_isc")
ventas_icbp=ventas.loc[
    (ventas['tipo_comprobante'] != 7)
    ].groupby('ruc')['icbp'].sum().rename("ventas_icbp")
ventas_otros=ventas.loc[
    (ventas['destino'] != 3),
    ].groupby('ruc')['otros_cargos'].sum().rename("ventas_otros")
compras_gravadas18=compras.loc[
    (compras['tipo_operacion'] == 2) &
    (compras['tipo_comprobante'] != 7) &
    (compras['igv']/compras['valor'] > 0.17) &
    (compras['destino'] != 4),
    ].groupby('ruc')['valor'].sum().rename("compras_gravadas18")
nogravadas_destino_4 = compras.loc[
    (compras['tipo_operacion'] == 2) &
    (compras['tipo_comprobante'] != 7) &
    (compras['destino'] == 4),
].groupby('ruc')['valor'].sum()
nogravadas_destino_5 = compras.loc[
    (compras['tipo_operacion'] == 2) &
    (compras['tipo_comprobante'] != 7) &
    (compras['destino'] == 5),
].groupby('ruc')['otros_cargos'].sum()
compras_nogravadas = nogravadas_destino_4.add(nogravadas_destino_5, fill_value=0).rename("compras_nogravadas")
compras_gravadas10=compras.loc[
    (compras['tipo_operacion'] == 2) &
    (compras['tipo_comprobante'] != 7) &
    (compras['igv']/compras['valor'] < 0.11) &
    (compras['destino'] != 4),
    ].groupby('ruc')['valor'].sum().rename("compras_gravadas10")
compras_isc=compras.loc[
    (compras['tipo_comprobante'] != 7)
    ].groupby('ruc')['isc'].sum().rename("compras_isc")
compras_icbp=compras.loc[
    (compras['tipo_comprobante'] != 7)
    ].groupby('ruc')['icbp'].sum().rename("compras_icbp")
compras_otros=compras.loc[
    (compras['tipo_comprobante'] != 7) &
    (compras['destino'] != 5)
    ].groupby('ruc')['otros_cargos'].sum().rename("compras_otros")

conceptos = [ventas_exportaciones, ventas_gravadas, ventas_nogravadas, ventas_otros, ventas_ivap, ventas_isc, ventas_icbp, compras_gravadas18, compras_gravadas10, compras_nogravadas, compras_otros, compras_isc, compras_icbp]
resumen = pd.concat(conceptos, axis=1).fillna(0).reset_index()
resumen_final = pd.merge(
    resumen,
    priv_entities[['ruc','alias']],
    on='ruc',        # La columna para unir
    how='left'       # Usamos LEFT JOIN para no perder ningún RUC de tus cálculos
)

# Opcional: Reordenar las columnas para que el alias aparezca primero
columnas_ordenadas = ['alias'] + [col for col in resumen_final.columns if col not in ['alias', 'ruc']]
resumen_final = resumen_final[['ruc'] + columnas_ordenadas]

In [128]:
resumen_final

,ruc,alias,ventas_exportaciones,ventas_gravadas,ventas_nogravadas,ventas_otros,ventas_ivap,ventas_isc,ventas_icbp,compras_gravadas18,compras_gravadas10,compras_nogravadas,compras_otros,compras_isc,compras_icbp
0,10085917213,FERNANDEZ M,0.0,13094.90,0.0,0.0,0.0,0.0,0.0,1912.03,0.00,385.63,0.00,0.0,0.0
1,10105880818,BELTRAN G LE,0.0,5500.00,0.0,0.0,0.0,0.0,0.0,5445.81,441.02,24.80,28.58,0.0,0.0
2,10297073058,PAJUELO P,0.0,2500.00,0.0,0.0,0.0,0.0,0.0,3228.84,117.65,124.26,0.00,0.0,0.0
3,10406916087,CELIZ C,0.0,14820.89,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0
4,10456396572,LLANOS E,0.0,8300.00,0.0,0.0,0.0,0.0,0.0,9053.06,0.00,0.00,0.00,0.5,0.0
5,10726501306,ALIAGA L,0.0,172828.83,0.0,0.0,0.0,0.0,0.0,119011.19,0.00,2468.92,0.00,0.0,0.0
6,10779181575,TARDILLO C,0.0,7090.00,0.0,0.0,0.0,0.0,0.0,5241.73,520.47,123.80,2.08,0.0,0.0
7,15609947851,MINIER D,0.0,3500.00,0.0,0.0,0.0,0.0,0.0,3540.81,0.00,0.00,4.67,0.0,0.0
8,20544564685,LA FRONTERA,0.0,1727.13,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0
9,20548030529,RPM,0.0,1120980.47,0.0,0.0,0.0,0.0,0.0,7566.76,0.00,0.00,0.00,0.0,0.0
10,20550103746,CONSUL CELIZ,0.0,418990.35,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0
11,20606283858,IMPULSA OE,0.0,195954.34,0.0,0.0,0.0,0.0,0.0,206618.47,1386.84,93.41,116.72,0.0,0.0
12,20610428101,SONIC SERV,0.0,1273369.14,0.0,0.0,0.0,0.0,0.0,0.00,0.00,30.05,0.00,0.0,0.0
13,20610892346,MATOAN,0.0,1018.00,0.0,0.0,0.0,0.0,0.0,2338.96,0.00,0.00,0.00,0.0,0.0
14,20613333593,PARJU,0.0,9975.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0
15,20613530101,GADCA,0.0,1226371.17,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0
16,20615108988,COMERALL,0.0,288765.78,0.0,0.0,0.0,0.0,0.0,145899.00,0.00,0.00,0.00,0.0,0.0
17,10093677469,MECHAN O,0.0,0.00,0.0,0.0,0.0,0.0,0.0,2687.68,0.00,0.00,0.00,0.0,0.0
18,10255508739,RAZETO J,0.0,0.00,0.0,0.0,0.0,0.0,0.0,1459.76,115.46,118.40,0.00,0.0,0.0
19,20135630048,MAESTRANZA,0.0,0.00,0.0,0.0,0.0,0.0,0.0,16.95,0.00,0.00,0.00,0.0,0.0
20,20522580491,GEOSSTRATOS,0.0,0.00,0.0,0.0,0.0,0.0,0.0,1687.00,0.00,52.25,0.00,0.0,0.0
21,20603043309,IMPULSAMAS,0.0,0.00,0.0,0.0,0.0,0.0,0.0,300.00,0.00,0.00,0.00,0.0,0.0
22,20609943611,CLARDENT,0.0,0.00,0.0,0.0,0.0,0.0,0.0,4483.56,63.51,50.00,0.00,0.0,0.0
23,20610704281,ROMARK,0.0,0.00,0.0,0.0,0.0,0.0,0.0,166.14,0.00,50.00,0.00,0.0,0.0
24,20613526138,CANTON,0.0,0.00,0.0,0.0,0.0,0.0,0.0,508.47,0.00,99.00,0.00,0.0,0.0
25,20614301172,GSMT,0.0,0.00,0.0,0.0,0.0,0.0,0.0,124.83,0.00,238.48,0.00,0.0,0.0
26,10327322422,NARRO D,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,9.65,0.00,0.0,0.0
27,20606169222,CIELO,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,42.80,0.00,0.0,0.0
28,10097937724,ESPINOZA E,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0