In [1]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
salessystem = create_engine(
    'mysql+pymysql://admin:Giu12FF8DB*@salessystem.crkwsaygg8b2.us-east-2.rds.amazonaws.com'
    ':3306/salessystem')

warehouse = create_engine(
    'postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
    ':5432/warehouse')

In [3]:
pedidos=pd.read_sql('SELECT * FROM pedidos', salessystem)
cotizaciones=pd.read_sql('SELECT * FROM facturas', salessystem)
proveedores=pd.read_sql('SELECT * FROM proveedores', salessystem)
adquirientes=pd.read_sql('SELECT * FROM customers', salessystem)
guias=pd.read_sql('SELECT * FROM remision_remitente', salessystem)
vehiculos=pd.read_sql('SELECT * FROM vehiculos', salessystem)
bcp=pd.read_sql('SELECT * FROM v_bcp', salessystem)
info=pd.read_sql('SELECT * FROM info', salessystem)
catalogo=pd.read_sql('SELECT * FROM catalogo', salessystem)
ibk=pd.read_sql('SELECT * FROM v_ibk', salessystem)
acc_7=pd.read_sql('SELECT * FROM acc._7', warehouse)
acc_5=pd.read_sql('SELECT * FROM acc._5', warehouse)
priv_entities=pd.read_sql('SELECT * FROM priv.entities', warehouse)

**PEDIDOS EN CURSO**

In [4]:
df1_filtrado=pedidos.loc[pedidos['estado'].isin(['PENDIENTE', 'EN PROCESO'])]
df1=pd.merge(df1_filtrado,adquirientes,left_on='adquiriente', right_on='ruc', how='left')
df1['alias'] = df1['alias'].fillna(df1['adquiriente'].astype(str))
df1_ordenado = df1.sort_values(by=['periodo', 'related_user', 'alias'])
df1=df1_ordenado[['periodo','related_user','alias', 'importe_total', 'cod_pedido', 'estado']]
df1

    periodo related_user          alias  importe_total cod_pedido      estado
16        0         None           SAKJ      950794.83  R134FF3A6  EN PROCESO
13   202504        AARON      CARRENO A      100000.00  R134FF3A3  EN PROCESO
14   202504        AARON       HUAMAN A       66500.00  R134FF3A4  EN PROCESO
5    202504     ARELLANO    ECONO GROUP       10000.00  R134FF2C6  EN PROCESO
15   202504     ARELLANO         GAREST       17000.00  R134FF3A5  EN PROCESO
4    202504     ARELLANO         JUANDY       30000.00  R134FF2C5  EN PROCESO
8    202504     ARELLANO    PERUGRAPHIC       10000.00  R134FF382  EN PROCESO
12   202504        EDGAR       BAUTISTA       10000.00  R134FF3A2  EN PROCESO
11   202504        EDGAR        CORZAMI       10000.00  R134FF3A1  EN PROCESO
3    202504        KETTY           KODO      340000.00  R134FF2C4  EN PROCESO
2    202504          NaN  10258333450.0        5900.00  R134FF2C3  EN PROCESO
7    202504          NaN  10459463343.0        3300.00  R134FF381  EN PROCESO
1    202504         None      AMBIENTAL       35400.00  R134FF2C2  EN PROCESO
6    202504         None    CO LOGISTIC      141600.00  R134FF2C7  EN PROCESO
0    202504         None          CUEVA       23600.00  R134FF2C1  EN PROCESO
10   202504         None    FERNANDEZ M       40000.00  R134FF384  EN PROCESO
9    202504         None      ITRANSBAR      188409.00  R134FF383  EN PROCESO
17   202504         None          SAVAR     4248035.73  R134FF3A7  EN PROCESO
18   202504         None      SAVAR LOG      331137.17  R134FF3A8  EN PROCESO

**COMPARACION PEDIDOS VS TOTAL DE COTIZACIONES INGRESADAS**

In [5]:
df2 = cotizaciones.loc[cotizaciones['cod_pedido'].isin(df1['cod_pedido'].tolist())].copy()  # Crea una copia expl√≠cita
df2.loc[:, 'total'] = round((df2['cantidad'].astype(float) * df2['precio_unit'].astype(float)) * 1.18, 0).astype(int)
df2_totales = df2.groupby('cod_pedido')['total'].sum().reset_index()
df2_comparado=pd.merge(df2_totales,df1,on='cod_pedido', how='left')
df2_comparado = df2_comparado.rename(columns={'importe_total': 'pedido', 'total': 'cotizaciones'})
df2_comparado.loc[:,'diferencia']=df2_comparado['pedido']-df2_comparado['cotizaciones']
df1_ordenado = df2_comparado.sort_values(by=['periodo', 'related_user', 'alias'])
df2_ordenado=df1_ordenado[['periodo', 'related_user', 'alias', 'pedido', 'cotizaciones', 'diferencia', 'cod_pedido', 'estado']]
df2_ordenado

,periodo,related_user,alias,pedido,cotizaciones,diferencia,cod_pedido,estado
16,0,None,SAKJ,950794.83,950795,-0.17,R134FF3A6,EN PROCESO
13,202504,AARON,CARRENO A,100000.00,100004,-4.00,R134FF3A3,EN PROCESO
14,202504,AARON,HUAMAN A,66500.00,66500,0.00,R134FF3A4,EN PROCESO
5,202504,ARELLANO,ECONO GROUP,10000.00,10000,0.00,R134FF2C6,EN PROCESO
15,202504,ARELLANO,GAREST,17000.00,17002,-2.00,R134FF3A5,EN PROCESO
4,202504,ARELLANO,JUANDY,30000.00,30002,-2.00,R134FF2C5,EN PROCESO
8,202504,ARELLANO,PERUGRAPHIC,10000.00,10000,0.00,R134FF382,EN PROCESO
12,202504,EDGAR,BAUTISTA,10000.00,10000,0.00,R134FF3A2,EN PROCESO
11,202504,EDGAR,CORZAMI,10000.00,10000,0.00,R134FF3A1,EN PROCESO
3,202504,KETTY,KODO,340000.00,340074,-74.00,R134FF2C4,EN PROCESO
2,202504,NaN,10258333450.0,5900.00,5916,-16.00,R134FF2C3,EN PROCESO
7,202504,NaN,10459463343.0,3300.00,3300,0.00,R134FF381,EN PROCESO
1,202504,None,AMBIENTAL,35400.00,35400,0.00,R134FF2C2,EN PROCESO
6,202504,None,CO LOGISTIC,141600.00,141669,-69.00,R134FF2C7,EN PROCESO
0,202504,None,CUEVA,23600.00,47220,-23620.00,R134FF2C1,EN PROCESO
10,202504,None,FERNANDEZ M,40000.00,40005,-5.00,R134FF384,EN PROCESO
9,202504,None,ITRANSBAR,188409.00,188409,0.00,R134FF383,EN PROCESO
17,202504,None,SAVAR,4248035.73,4248038,-2.27,R134FF3A7,EN PROCESO
18,202504,None,SAVAR LOG,331137.17,331136,1.17,R134FF3A8,EN PROCESO

**DESCRIPCION POR PEDIDO**

In [6]:
cod_pedido='X134FED84'
df3_filtrado=cotizaciones.loc[cotizaciones['cod_pedido'] == 'X134FED84']
cant_facturas = len(df3_filtrado['cuo'].drop_duplicates())
"""
INPUT CODIGO DE PEDIDO
FILTRAR COTIZACIONES DE ESE CODIGO DE PEDIDO
CALCULAR CANTIDAD DE COTIZACIONES DEL PEDIDO

"""

'\nINPUT CODIGO DE PEDIDO\nFILTRAR COTIZACIONES DE ESE CODIGO DE PEDIDO\nCALCULAR CANTIDAD DE COTIZACIONES DEL PEDIDO\n\n'

#SELECT
i.transaccion as transaccion,
DATE_FORMAT(i.fecha,'%d/%m/%Y') as fecha,
i.hora as hora,
LPAD(operacion, 5, '0') as operacion,
SUBSTRING(proveedores.nombre_razon, 1, 8) as nombre,
'CUENTA  CORRIENTE  MN' as tipo_cuenta, #doble espacio
info.ibk as nro_cuenta,
info.cci_ibk as cci,
FORMAT(importe, 2) as importe,
FORMAT(importe, 2) as efectivo,
FORMAT(importe, 2) as recibido_dm,
FORMAT(importe, 2) as recibido_um,
IF(importe > 9999.99, 'False', 'True') as recibido_um_v,
IF(importe < 10000, 'False', 'True') as recibido_dm_v,
FORMAT(importe, 2) as redondeado,
IF(importe > 9999.99, 'False', 'True') as pre_recibido_um,
IF(importe < 10000, 'False', 'True') as pre_recibido_dm,
REPLACE(i.ejecutante, ' ', '  ') as ejecutante #doble espacio por cada espacio
FROM v_ibk as i
INNER JOIN proveedores ON i.proveedor=proveedores.alias
INNER JOIN info ON proveedores.numero_documento=info.ruc
WHERE i.estado='EN PROCESO' ORDER BY i.adquiriente, i.proveedor, i.factura

SELECT
    LPAD(numero_operacion, 7, '0'),
    LPAD(DAY(fecha_operacion), 2, '0') AS dia,
    LPAD(MONTH(fecha_operacion), 2, '0') AS mes,
    YEAR(fecha_operacion) AS ano,
    hora_operacion as hora,
    FORMAT(importe, 2) as importe,
    IF(importe > 9999.99, 'False', 'True') as asterisco,
    IF(proveedor='PALOMINO', 'True', 'False') as palomino,
    IF(proveedor='KENTHIVAS', 'True', 'False') as kenthivas,
    IF(proveedor='CONSULCACH', 'True', 'False') as cach,
    IF(proveedor='CHERRYS', 'True', 'False') as cherrys,
    IF(proveedor='CONSULCELIZ', 'True', 'False') as consulceliz,
    IF(proveedor='NEGORABILLY', 'True', 'False') as negora,
    IF(proveedor='TISOCNI', 'True', 'False') as tisocni,
    IF(proveedor='ESPINO', 'True', 'False') as espinoramos,
    IF(proveedor='ELITE', 'True', 'False') as elitesecurity,
    IF(proveedor='IMPULSAMAS', 'True', 'False') as impulsa,
    IF(proveedor='ENFOCATE', 'True', 'False') as enfocate,
    IF(proveedor='INBOX', 'True', 'False') as inbox,
    IF(proveedor='INVSONIC', 'True', 'False') as mayosonic,
    IF(proveedor='SONICSERV', 'True', 'False') as servsonic,
    IF(proveedor='TOCAM', 'True', 'False') as tocam,
    IF(proveedor='SAYDONE', 'True', 'False') as saydone,
    IF(proveedor='GENZ', 'True', 'False') as genz,
    IF(proveedor='TROYA', 'True', 'False') as troya,
    IF(proveedor='NOVATEX', 'True', 'False') as novax,
    IF(proveedor='VYC', 'True', 'False') as vyc,
    IF(proveedor='CELIZ', 'True', 'False') as carlosceliz,
    IF(proveedor='INGCELIZ', 'True', 'False') as ingceliz,
    IF(proveedor='INGCACH', 'True', 'False') as ingcach,
    IF(proveedor='BLANQUIAZUL', 'True', 'False') as blanquiazul,
    IF(proveedor='MUNRAY', 'True', 'False') as munray,
    IF(proveedor='OLIVEROS', 'True', 'False') as oliveros,
    IF(proveedor='JORA', 'True', 'False') as jora,
    IF(proveedor='SILVER', 'True', 'False') as silver,
    IF(proveedor='JMV', 'True', 'False') as jmv,
    IF(proveedor='IMPULSAOE', 'True', 'False') as impulsaoe,
    IF(proveedor='ELIAPAC', 'True', 'False') as eliapac,
    IF(proveedor='THB', 'True', 'False') as thb,
    IF(proveedor='APOYO', 'True', 'False') as apoyo,
    IF(proveedor='PARJU', 'True', 'False') as parju,
    IF(proveedor='TEXTILES', 'True', 'False') as textiles,
    IF(proveedor='GREJULCA', 'True', 'False') as grejulca
    FROM v_bcp WHERE estado = 'EN PROCESO' ORDER BY adquiriente, proveedor, fecha_operacion, hora_operacion;

**VERIFICAR PEDIDOS BANCARIZADOS**
SELECCIONAR TODOS LOS COMPROBANTES ASOCIADOS DE LAS BANCARIZACIONES Y SUS PROVEEDORES (EMISORES)
BUSCAR RUC DEL PROVEEDOR Y ELABORAR CUI

In [7]:
bancarizado=bcp[['adquiriente', 'proveedor', 'documento_relacionado']]
bancarizado_proveedores=pd.merge(bancarizado, proveedores[['alias', 'numero_documento']],left_on='proveedor', right_on='alias', how='left')
bancarizado_proveedores['numero_documento'] = bancarizado_proveedores['numero_documento'].astype(str)
bancarizado_proveedores['numero_documento'] = bancarizado_proveedores['numero_documento'].apply(lambda x: hex(int(x))[2:])
bancarizado_proveedores['cui'] = bancarizado_proveedores['numero_documento'].astype(str) + '01' + bancarizado_proveedores['documento_relacionado'].astype(str)
bancarizado_proveedores['cui'] = bancarizado_proveedores['cui'].str.replace('-', '')
bancarizado_proveedores=bancarizado_proveedores[['adquiriente', 'proveedor', 'cui']]

In [8]:
bancarizado_proveedores['cui'] = bancarizado_proveedores['cui'].str.lower()
acc_5['cui'] = acc_5['cui'].str.lower()
bancarizado_acc5=pd.merge(bancarizado_proveedores, acc_5[['periodo_tributario', 'fecha_emision', 'numero_documento', 'cui']],on='cui', how='left')

In [9]:
"""
HAY INCONSISTENCIAS Y XMLS NO ANALIZADOS, ELABORAR ANALIZADOR DE XML CON PYTHON Y UNIR A ORGANIZADOR DE ARCHIVOS
"""
bancarizado_filtrado = bancarizado_acc5[~bancarizado_acc5['numero_documento'].isna()]
bancarizado_filtrado['pedido_unido'] = bancarizado_filtrado['periodo_tributario'].astype(int).astype(str) + bancarizado_filtrado['adquiriente'].astype(str)
bancarizado_filtrado = bancarizado_filtrado.drop_duplicates(subset='pedido_unido', keep='first')

C:\Users\Raknaros\AppData\Local\Temp\ipykernel_27248\1141988865.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bancarizado_filtrado['pedido_unido'] = bancarizado_filtrado['periodo_tributario'].astype(int).astype(str) + bancarizado_filtrado['adquiriente'].astype(str)

In [10]:
bancarizado_filtrado.to_excel('bancarizado.xlsx', index=False)

**TRANSFORMAR CUADRO DE VENTAS acc_5 A PEDIDOS**
pedidos_contabilidad=acc_5[acc_5['tipo_documento'] != '0'][['periodo_tributario', 'numero_documento']]
pedidos_contabilidad['pedido_unido'] = pedidos_contabilidad['periodo_tributario'].astype(str) + pedidos_contabilidad['numero_documento'].astype(str)
pedidos_filtrado = pedidos_contabilidad.drop_duplicates(subset='pedido_unido', keep='first')
pedidos_filtrado['numero_documento'] = pedidos_filtrado['numero_documento'].astype(int)
pedidos_inferido=pd.merge(pedidos_filtrado,adquirientes[['related_user', 'alias', 'ruc']],left_on='numero_documento', right_on='ruc', how='left')