**LIBRERIAS**

In [2]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta

**CONEXIONES**

In [3]:
"""salessystem = create_engine(
    'mysql+pymysql://admin:Giu72656770@sales-system.c988owwqmmkd.us-east-1.rds.amazonaws.com'
   ':3306/salessystem')
"""
warehouse = create_engine('postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
                              ':5432/warehouse')

**VARIABLES**

In [4]:
def get_mes_anterior(meses):
    fecha_actual = datetime.now()
    mes_anterior = fecha_actual - relativedelta(months=meses)
    return int(mes_anterior.strftime('%Y%m'))
periodo_cerrado = get_mes_anterior(1)
periodo_corriente = get_mes_anterior(0)
periodo_seleccionado = 202410

**CONSULTAS SQL**

In [5]:
priv_entities=pd.read_sql("SELECT * FROM priv.entities ORDER BY ruc ASC", warehouse)
acc_9=pd.read_sql("SELECT * FROM acc._9", warehouse)

**EMPRESAS ORDENADAS SEGUN ULTIMO DIGITO**

In [6]:
entities_1 = priv_entities[priv_entities['activo'] == True].assign(
    ultimo_digito_ruc=lambda x: x['ruc'] % 10
).sort_values(by='ultimo_digito_ruc').drop(columns='ultimo_digito_ruc')
entities_1=entities_1[['nombre_razon', 'ruc', 'usuario_sol', 'clave_sol', 'observaciones']]

**DECLARACIONES PENDIENTES MES EN CURSO**

In [7]:
# Filtro de periodo
acc_9_filtrado = acc_9[(acc_9['periodo_tributario'] == periodo_cerrado)]
# Filtro de no declarados
acc_9_filtrado = acc_9_filtrado[acc_9_filtrado['numero_orden'].isna()]
# Filtro de columnas
acc_9_filtrado = acc_9_filtrado[['ruc', 'periodo_tributario', 'fecha_presentacion','_100','_107','_301','_145']]
# Realizar un join entre priv_entities y acc_9_filtrado
resultado_join = entities_1.merge(acc_9_filtrado, on='ruc', how='left')
resultado_sin_coincidencias = resultado_join[resultado_join['periodo_tributario'].notna()]

In [8]:
resultado_sin_coincidencias

Empty DataFrame
Columns: [nombre_razon, ruc, usuario_sol, clave_sol, observaciones, periodo_tributario, fecha_presentacion, _100, _107, _301, _145]
Index: []

In [9]:
planillas=pd.read_sql("SELECT entities.alias, ide.numero_documento, CONCAT(ide.nombre,' ', ide.apellido_paterno), tra.regimen_laboral, tra.remuneracion FROM payroll.ide INNER JOIN payroll.tra ON ide.cui=tra.cui_relacionado LEFT JOIN priv.entities ON entities.ruc=ide.ruc WHERE tra.situacion='ACTIVO' ORDER BY entities.alias", warehouse)
planillas

,alias,numero_documento,concat,regimen_laboral,remuneracion
0,ALIAGA L,21141522,DONATO LOPEZ,MICROEMPRESA,1025
1,ALIAGA L,46482712,SEGUNDO BENANCIO AMASIFUEN,MICROEMPRESA,1025
2,CIELO,44780820,LILIANA MIRELY COCHACHIN,D LEG N.° 728,1500
3,CLARDENT,47251373,CLARA GISELA RAMOS,MICROEMPRESA,513
4,CONSUL CACH,07635569,ROBERTO GLORIOSO ARANDA,D LEG N.° 728,1025
5,CONSUL CELIZ,07618161,JOSE ANTONIO PESANTES,D LEG N.° 728,1025
6,ELITE,40691608,CARLOS ALBERTO CELIZ,D LEG N.° 728,1500
7,ELITE,46135144,JESUS MARTIN GIRATA,D LEG N.° 728,1025
8,ESPINO,40227069,GIULIO SANDRO ESPINO,D LEG N.° 728,1025
9,ESPINO,40081708,MAYRA JANNELLE VELA,D LEG N.° 728,1025
10,FERNANDEZ M,08591721,MARIA LIDA FERNANDEZ,MICROEMPRESA,1025
11,IML,61396041,JUN HE,D LEG N.° 728,1025
12,IML,45663759,JOSUE SEDEQUIAS SAAVEDRA,D LEG N.° 728,1025
13,IML,46116679,ALEX WILMER VALDIVIEZO,D LEG N.° 728,1025
14,IML,75950584,LUZ MARINA SALAS,D LEG N.° 728,1025
15,IML,76374034,EVELYN XIMENA RAMIREZ,D LEG N.° 728,1025
16,ING CACH,08616804,ZULEMA GERTRUDIS GIL,D LEG N.° 728,1025
17,ING CELIZ,47802012,ELIZABETH DEL ROSARIO LLANOS,D LEG N.° 728,1025
18,INV SONIC,73763447,RONALD CACH CELIZ,D LEG N.° 728,1025
19,INV SONIC,47205286,EDWIN STEVEN ROJAS,D LEG N.° 728,1025
20,JL 2,45657475,LIZZETH HUAMALI,D LEG N.° 728,930
21,JL 2,42007238,ANGELICA LUNA,D LEG N.° 728,930
22,JL 2,47366926,JOSE ANTONIO MACHADO,D LEG N.° 728,930
23,KENTHIVAS,40256257,ELVIS HENRY VASQUEZ,D LEG N.° 728,1025
24,MAESTRANZA,07564704,ANIBAL EDUARDO CHAVEZ,D LEG N.° 728,1025
25,NEGORA BILLY,46409146,NELSON LOLIN CHUCO,D LEG N.° 728,1025
26,RPM,70469623,PILAR VICTORIA CASTRO,PEQUEÑA EMPRESA,513
27,RPM,76057495,CECILIA MARIA TORRES,PEQUEÑA EMPRESA,1025
28,RPM,08874061,EVELYN CORAL BELTRAN,PEQUEÑA EMPRESA,1025
29,SONIC SERV,41014357,LIDIA ESTHER LEON,D LEG N.° 728,1025
30,SONIC SERV,47205286,EDWIN STEVEN ROJAS,D LEG N.° 728,1025