In [61]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine



salessystem = create_engine(
    'mysql+pymysql://root:Giu72656770@104.154.92.48'
    ':3306/sales-system')

warehouse = create_engine('postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
                              ':5432/warehouse')

In [62]:
# VISTA FACTURAS_NOANULADAS FILTRADAS POR PERIODO '202406'
query = ("SELECT * FROM public.facturas_noanuladas WHERE periodo_tributario = 202503")

# TABLA FACTURAS DE SALES SYSTEM
facturas = pd.read_sql(query, con=warehouse, parse_dates=['fecha_emision','fecha_vencimiento'], dtype_backend="pyarrow")

# TABLA PROVEEDORES DE SALES SYSTEM
proveedores = pd.read_sql("SELECT tipo_proveedor, numero_documento, alias FROM proveedores", con=salessystem, dtype_backend="pyarrow")

# TABLA CLIENTES DE SALES SYSTEM
clientes = pd.read_sql("SELECT * FROM customers", con=salessystem, dtype_backend="pyarrow")

**FACTURAS AGRUPADAS POR ENTIDAD, TOTAL Y CANTIDAD DE COMPROBANTES**

In [63]:
# FACTURAS AGRUPADAS POR PROVEEDOR(ruc), SUMA IGV, SUMA VALOR, SUMA IGV Y CONTEO
result = facturas.groupby('ruc').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
# TOTAL = SUMA IGV + SUMA SUMA VALOR
result['total']=result['columna1_sum']+result['columna2_sum']
# ELIMINAR COLUMNAS SUMA IGV Y SUMA VALOR
result.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [64]:
# FILTRAR SOLO PROVEEDORES TIPO 1 Y 2
proveedores_tipo1y2 = proveedores[proveedores['tipo_proveedor'] < '3']
# FILTRAR SOLO PROVEEDORES TIPO 3
proveedores_tipo3 = proveedores[proveedores['tipo_proveedor'] == '3']
# FILTRAR SOLO CLIENTES INTERNOS REGISTRADOS
clientes_internos = clientes[clientes['observaciones'].str.contains('INTERNO', case=False, na=False)]
# FILTRAR SOLO CLIENTES EXTERNOS REGISTRADOS
clientes_externos = clientes[~clientes['observaciones'].str.contains('INTERNO|PROVEEDOR', case=False, na=False)]

In [65]:
# FILTRAR FACTURAS EMITIDAS A PROVEEDORES TIPO 1 Y 2
filtro1_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo1y2['numero_documento'].astype(str))]

In [66]:
# FILTRAR FACTURAS EMITIDAS A PROVEEDORES TIPO 3
filtro2_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo3['numero_documento'].astype(str))]

In [67]:
# FILTRAR FACTURAS EMITIDAS A CLIENTES INTERNOS REGISTRADOS
filtro_clientesinternos = facturas[facturas['numero_documento'].isin(clientes_internos['ruc'].astype(str))]

In [68]:
# FILTRAR FACTURAS EMITIDAS A OTROS CLIENTES O A CLIENTES NO REGISTRADOS
filtro_otrosclientes = facturas[~facturas['numero_documento'].isin(clientes['ruc'].astype(str))]
filtro_otrosclientes['numero_documento'].drop_duplicates()

Series([], Name: numero_documento, dtype: string[pyarrow])

In [69]:
# FILTRAR FACTURAS EMITIDAS A CLIENTES EXTERNOS
filtro_clientesexternos = facturas[facturas['numero_documento'].isin(clientes_externos['ruc'].astype(str))]

In [70]:
print('Cantidad de facturas emitidas por facturacion: '+str(len(facturas['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 1 y 2: '+str(len(filtro1_proveedores['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 3: '+str(len(filtro2_proveedores['cui'])))
print('Cantidad de facturas emitidas a clientes internos: '+str(len(filtro_clientesinternos['cui'])))
print('Cantidad de facturas emitidas a clientes externos recurrentes: '+str(len(filtro_clientesexternos['cui'])))
print('Cantidad de facturas emitidas a nuevos clientes: '+str(len(filtro_otrosclientes['cui'])))

Cantidad de facturas emitidas por facturacion: 674
Cantidad de facturas emitidas a proveedores tipo 1 y 2: 40
Cantidad de facturas emitidas a proveedores tipo 3: 0
Cantidad de facturas emitidas a clientes internos: 40
Cantidad de facturas emitidas a clientes externos recurrentes: 634
Cantidad de facturas emitidas a nuevos clientes: 0

In [71]:
# FILTRO FACTURAS CON GUIA
filtro_facturaconguia = facturas[facturas['tipo_documento_referencia'] == 9]
# FILTRO FACTURAS SIN GUIA
filtro_facturasinguia = facturas[facturas['tipo_documento_referencia'] == 1]

In [72]:
print('Cantidad de facturas con guia asociada: '+str(len(filtro_facturaconguia['cui'])))
print('Cantidad de facturas sin guia: '+str(len(filtro_facturasinguia['cui'])))

Cantidad de facturas con guia asociada: 644
Cantidad de facturas sin guia: 30

In [73]:
# TABLA PEDIDOS ORDENADO POR ADQUIRIENTE/CLIENTE FILTRADO POR PERIODO '202406'
pedidos = pd.read_sql("SELECT * FROM pedidos WHERE periodo = 202503",salessystem, parse_dates=['fecha_pedido'], dtype_backend="pyarrow").sort_values(by='adquiriente', ascending=True)
# PEDIDOS FILTRADOS POR PEDIDOS ENTREGADOS Y/O EMITIDOS
pedidos_preparados = pedidos[pedidos['estado'].str.contains('ENTREGADO|EMITIDO', case=False, na=False)]

In [74]:
# FACTURAS FILTRADAS POR PEDIDOS REGISTRADOS COMO EMITIDO/ENTREGADO
facturas_pedidos_preparados=facturas[facturas['numero_documento'].isin(pedidos_preparados['adquiriente'].unique().astype(str))]
# FACTURAS FILTADAS POR PEDIDOS REGISTRADOS AGRUPADAS POR ADQUIRIENTE(numero_documento)
pedidos_verificados = facturas_pedidos_preparados.groupby('numero_documento').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
pedidos_verificados['total']=pedidos_verificados['columna1_sum']+pedidos_verificados['columna2_sum']
pedidos_verificados.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [75]:
pedidos_verificados

Empty DataFrame
Columns: [numero_documento, count, total]
Index: []

In [76]:
# POR CADA ADQUIRIENTE DEL DATAFRAME pedidos_preparados
for adquiriente in pedidos_preparados['adquiriente'].unique():
    # FILTRAR PEDIDOS POR ADQUIRIENTE
    pedido = pedidos_preparados[pedidos_preparados['adquiriente'] == adquiriente]
    # FACTURAS EMITIDAS PARA LOS PEDIDOS PREPARADOS FILTRADAS POR ADQUIRIENTE (numero_documento)
    total_facturas_adquiriente = pedidos_verificados[pedidos_verificados['numero_documento'] == str(adquiriente)]
    
    # SUMAR TOTAL POR ADQUIRIENTE
    total_por_adquiriente = total_facturas_adquiriente['total'].sum()
    
    # SI EL ADQUIRIENTE TIENE MAS DE 1 PEDIDO EN EL PERIODO
    if len(pedido) > 1:
        print('Varios pedidos de un adquiriente')
    # SI SOLO TIENE 1 PEDIDO    
    else: 
        # OBTENER EL CODIGO DE PEDIDO
        pedido1 = pedido['cod_pedido'].values[0]
        # OBTENER EL IMPORTE TOTAL DEL PEDIDO
        importe = pedido['importe_total'].values[0]
        
        print(f"Pedido codigo {pedido1} por {importe} emitido por {total_por_adquiriente}")

In [77]:
# PEDIDOS EMITIDOS POR FACTURACION AGRUPADOS Y ORDENADOS POR PROVEEDOR(RUC) FILTRADOS POR PERIODO
emitidos_facturacion = pd.read_sql("SELECT ruc,count(distinct concat(cod_pedido,cuo)), SUM(round(cantidad * precio_unit *1.18,2)) AS total FROM facturas WHERE CAST(DATE_FORMAT(emision, '%%Y%%m') AS UNSIGNED) = 202503 GROUP BY ruc ORDER BY ruc", con=salessystem)

In [78]:
emitidos_facturacion

            ruc  count(distinct concat(cod_pedido,cuo))       total
0   10065539964                                       1     6000.30
1   10093677469                                       5    13043.72
2   10097937724                                      13    40474.00
3   10305796307                                       5    57517.83
4   10415173101                                       4    33000.23
5   10415523306                                       1    15000.16
6   10428596591                                       8    40208.97
7   10429088530                                       4     6033.95
8   10437189671                                       4    25005.73
9   10726501306                                      16   260028.34
10  20100412366                                      52  4103637.82
11  20329834051                                       4    20004.72
12  20492376699                                       4    75001.93
13  20503365571                                      30    50000.87
14  20504363903                                      25  1214328.68
15  20508283017                                      17   400001.95
16  20510945736                                      14   662278.54
17  20513129298                                       4    10000.13
18  20516510901                                       2    40002.70
19  20517463842                                       6   191750.00
20  20549945245                                      25   188799.98
21  20558368684                                       5    50191.01
22  20600438400                                       2     2500.31
23  20600803949                                       4   110000.55
24  20600931921                                       4    25000.01
25  20601167655                                      17    23600.08
26  20601295530                                       5    96107.91
27  20601451418                                      11    65556.22
28  20601616051                                       7    10000.84
29  20601770653                                      12   130000.67
30  20602106706                                      30    49999.97
31  20602448071                                       8    10000.97
32  20602668178                                       3    87000.10
33  20603200587                                      58   501733.21
34  20603312822                                       2    50000.25
35  20603720998                                       5   120004.89
36  20604591440                                       8    80001.24
37  20605203109                                      27   340032.96
38  20605550321                                      16    59000.10
39  20605804307                                      10    40000.08
40  20606169222                                       5   121752.40
41  20606283858                                      34   200529.26
42  20606801131                                       2     4200.00
43  20607140911                                       8    10000.97
44  20607890073                                       2    30001.02
45  20609804247                                       4    26000.06
46  20609967235                                       7   107651.80
47  20611210656                                       1     1790.00
48  20611827661                                      17   147863.75
49  20611957476                                      56  4443885.18
50  20612533980                                       2    30001.01
51  20612560987                                       9    12390.02
52  20613322583                                       3    40034.38

In [79]:
#FACTURAS QUE NO SON A PROVEEDORES
facturas_cliente=facturas[~facturas['numero_documento'].isin(proveedores['numero_documento'].astype(str))]

In [80]:
facturas_cliente_conguia=facturas_cliente[
    (facturas_cliente['tipo_documento_referencia'] == 9) &
    (~facturas_cliente['numero_documento_referencia'].str.startswith('0001'))
]
facturas_cliente_conguia.loc[:, 'numero_documento_referencia'] = facturas_cliente_conguia['numero_documento_referencia'].apply(lambda x: int(x[6:-1]))

In [81]:
facturas_cliente_conguia.sort_values(by=['ruc','numero_documento_referencia'], ascending=True)

,id,ruc,subdiario,periodo_tributario,tipo_operacion,tipo_comprobante,fecha_emision,fecha_vencimiento,numero_serie,numero_correlativo,...,tipo_comprobante_modificado,numero_serie_modificado,numero_correlativo_modificado,glosa,cui,observaciones,cuenta_contable,igv,tipo_documento_referencia,numero_documento_referencia
660,9236,10406916087,5,202503,1,1,2025-03-26,NaT,E001,193,...,<NA>,<NA>,<NA>,<NA>,26c4ceff701E001193,PARSER,<NA>,1176.35,9,37
595,9237,10406916087,5,202503,1,1,2025-03-27,NaT,E001,194,...,<NA>,<NA>,<NA>,<NA>,26c4ceff701E001194,PARSER,<NA>,437.18,9,38
645,9238,10406916087,5,202503,1,1,2025-03-28,NaT,E001,195,...,<NA>,<NA>,<NA>,<NA>,26c4ceff701E001195,PARSER,<NA>,450.43,9,39
62,9634,20550103746,5,202503,1,1,2025-03-31,NaT,E001,716,...,<NA>,<NA>,<NA>,<NA>,4c8e1b2c201E001716,PARSER,<NA>,159.12,9,115
252,9621,20550103746,5,202503,1,1,2025-03-24,NaT,E001,707,...,<NA>,<NA>,<NA>,<NA>,4c8e1b2c201E001707,PARSER,<NA>,12226.64,9,725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,9565,20613333593,5,202503,1,1,2025-03-30,NaT,E001,626,...,<NA>,<NA>,<NA>,<NA>,4cca6825901E001626,PARSER,<NA>,7560.0,9,632
172,9566,20613333593,5,202503,1,1,2025-03-30,NaT,E001,627,...,<NA>,<NA>,<NA>,<NA>,4cca6825901E001627,PARSER,<NA>,259.66,9,633
135,9567,20613333593,5,202503,1,1,2025-03-31,NaT,E001,628,...,<NA>,<NA>,<NA>,<NA>,4cca6825901E001628,PARSER,<NA>,8100.0,9,634
242,9569,20613333593,5,202503,1,1,2025-03-31,NaT,E001,630,...,<NA>,<NA>,<NA>,<NA>,4cca6825901E001630,PARSER,<NA>,6602.03,9,635
32,9572,20613333593,5,202503,1,1,2025-03-31,NaT,E001,632,...,<NA>,<NA>,<NA>,<NA>,4cca6825901E001632,PARSER,<NA>,302.03,9,636