In [74]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine



salessystem = create_engine(
    'mysql+pymysql://admin:Giu72656770@sales-system.c988owwqmmkd.us-east-1.rds.amazonaws.com'
    ':3306/salessystem')

warehouse = create_engine('postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
                              ':5432/warehouse')

In [75]:
query = "SELECT * FROM public.facturas_noanuladas WHERE periodo_tributario = 202406"

facturas = pd.read_sql(query, con=warehouse, parse_dates=['fecha_emision','fecha_vencimiento'], dtype_backend="pyarrow")
proveedores = pd.read_sql("SELECT tipo_proveedor, numero_documento, alias FROM proveedores", con=salessystem, dtype_backend="pyarrow")
clientes = pd.read_sql("SELECT * FROM customers", con=salessystem, dtype_backend="pyarrow")

**FACTURAS AGRUPADAS POR ENTIDAD, TOTAL Y CANTIDAD DE COMPROBANTES**

In [76]:

result = facturas.groupby('ruc').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
result['total']=result['columna1_sum']+result['columna2_sum']
result.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [77]:
proveedores_tipo1y2 = proveedores[proveedores['tipo_proveedor'] < '3']
proveedores_tipo3 = proveedores[proveedores['tipo_proveedor'] == '3']
clientes_internos = clientes[clientes['observaciones'].str.contains('INTERNO', case=False, na=False)]
clientes_externos = clientes[~clientes['observaciones'].str.contains('INTERNO|PROVEEDOR', case=False, na=False)]

In [78]:
filtro1_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo1y2['numero_documento'].astype(str))]

In [79]:
filtro2_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo3['numero_documento'].astype(str))]

In [80]:
filtro_clientesinternos = facturas[facturas['numero_documento'].isin(clientes_internos['ruc'].astype(str))]

In [81]:
filtro_otrosclientes = facturas[~facturas['numero_documento'].isin(clientes['ruc'].astype(str))]

In [82]:
filtro_clientesexternos = facturas[facturas['numero_documento'].isin(clientes_externos['ruc'].astype(str))]

In [83]:
print('Cantidad de facturas emitidas por facturacion: '+str(len(facturas['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 1 y 2: '+str(len(filtro1_proveedores['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 3: '+str(len(filtro2_proveedores['cui'])))
print('Cantidad de facturas emitidas a clientes internos: '+str(len(filtro_clientesinternos['cui'])))
print('Cantidad de facturas emitidas a clientes externos recurrentes: '+str(len(filtro_clientesexternos['cui'])))
print('Cantidad de facturas emitidas a nuevos clientes: '+str(len(filtro_otrosclientes['cui'])))

Cantidad de facturas emitidas por facturacion: 483
Cantidad de facturas emitidas a proveedores tipo 1 y 2: 112
Cantidad de facturas emitidas a proveedores tipo 3: 0
Cantidad de facturas emitidas a clientes internos: 42
Cantidad de facturas emitidas a clientes externos recurrentes: 254
Cantidad de facturas emitidas a nuevos clientes: 75

In [84]:
filtro_facturaconguia = facturas[facturas['tipo_documento_referencia'] == 9]
filtro_facturasinguia = facturas[facturas['tipo_documento_referencia'] == 1]

In [85]:
print('Cantidad de facturas con guia asociada: '+str(len(filtro_facturaconguia['cui'])))
print('Cantidad de facturas con guia asociada: '+str(len(filtro_facturasinguia['cui'])))

Cantidad de facturas con guia asociada: 435
Cantidad de facturas con guia asociada: 48

In [86]:
pedidos = pd.read_sql("SELECT * FROM pedidos WHERE periodo = 202406",salessystem, parse_dates=['fecha_pedido'], dtype_backend="pyarrow").sort_values(by='adquiriente', ascending=True)
pedidos_preparados = pedidos[pedidos['estado'].str.contains('ENTREGADO|EMITIDO', case=False, na=False)]

In [87]:
facturas_pedidos_preparados=facturas[facturas['numero_documento'].isin(pedidos_preparados['adquiriente'].unique().astype(str))]
pedidos_verificados = facturas_pedidos_preparados.groupby('numero_documento').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
pedidos_verificados['total']=pedidos_verificados['columna1_sum']+pedidos_verificados['columna2_sum']
pedidos_verificados.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [88]:
pedidos_verificados

   numero_documento  count      total
0       10093677469      4   20845.53
1       10444085741      6  110016.03
2       10726501306     15  134556.58
3       20100412366     53  3488498.9
4       20603826303     28   573831.1
5       20605962468     30  495679.36
6       20606169222     11   80306.08
7       20606401842     28  523672.93
8       20609753723     26  352651.09
9       20609967235      3   50015.03
10      20611957476     31   904304.9

In [89]:
for adquiriente in pedidos_preparados['adquiriente'].unique():
    # Filtrar los pedidos para el adquiriente actual
    pedido = pedidos_preparados[pedidos_preparados['adquiriente'] == adquiriente]
    
    # Filtrar las facturas para el adquiriente actual
    total_facturas_adquiriente = pedidos_verificados[pedidos_verificados['numero_documento'] == str(adquiriente)]
    
    # Sumar la columna 'total' para el adquiriente actual
    total_por_adquiriente = total_facturas_adquiriente['total'].sum()
    
    if len(pedido) > 1:
        print('Varios pedidos de un adquiriente')
    else: 
        # Obtener los valores específicos
        pedido1 = pedido['cod_pedido'].values[0]
        importe = pedido['importe_total'].values[0]
        
        print(f"Pedido codigo {pedido1} por {importe} emitido por {total_por_adquiriente}")

Pedido codigo R134D8EC1 por 26000.0 emitido por 20845.53
Pedido codigo X134D8F42 por 110000.0 emitido por 110016.03
Pedido codigo R134D8EC2 por 30000.0 emitido por 134556.58000000002
Pedido codigo R134D8E61 por 2000000.0 emitido por 3488498.9
Pedido codigo I134D8EC5 por 700000.0 emitido por 573831.1
Pedido codigo I134D8EC6 por 700000.0 emitido por 495679.36
Pedido codigo R134D8EC3 por 15000.0 emitido por 80306.08
Pedido codigo I134D8EC7 por 700000.0 emitido por 523672.93
Pedido codigo I134D8EC8 por 700000.0 emitido por 352651.08999999997
Pedido codigo X134D8F41 por 50000.0 emitido por 50015.03
Varios pedidos de un adquiriente

In [90]:
emitidos_facturacion = pd.read_sql("SELECT ruc,count(distinct concat(cod_pedido,cuo)), SUM(round(cantidad * precio_unit *1.18,2)) AS total FROM facturas WHERE CAST(DATE_FORMAT(emision, '%%Y%%m') AS UNSIGNED) = 202406 GROUP BY ruc ORDER BY ruc", con=salessystem)

In [91]:
emitidos_facturacion

            ruc  count(distinct concat(cod_pedido,cuo))       total
0   10093677469                                       5    25655.21
1   10444085741                                       6   110016.03
2   10726501306                                       4    30349.60
3   20100412366                                      55  3302896.70
4   20603826303                                      30   672310.31
5   20605962468                                      36   655951.20
6   20606169222                                       3    15214.92
7   20606401842                                      31   659184.10
8   20609753723                                      31   645655.83
9   20609967235                                       3    50015.03
10  20611957476                                      34   930707.68

In [97]:
temporal4 = pd.read_sql("SELECT numero_documento AS adquiriente, ruc AS proveedor, numero_correlativo AS factura, (CASE tipo_documento_referencia WHEN 1 THEN null ELSE TRIM('|' FROM SPLIT_PART(numero_documento_referencia,'-',2))::INT END)::TEXT AS guia FROM facturas_noanuladas WHERE periodo_tributario = 202406 ORDER BY adquiriente, proveedor, factura",
                        dtype={'proveedor': str, 'adquiriente': str, 'factura': str, 'guia': str}, con=warehouse)

filtrado5 = temporal4[~temporal4['adquiriente'].isin(proveedores['numero_documento'].astype(str))]
filtrado5

     adquiriente    proveedor factura  guia
0    10065539964  20605962468     585   349
1    10065539964  20606401842     473   261
2    10065539964  20610737553     348   348
3    10065539964  20611097400      60    60
4    10065539964  20611198427     364   364
..           ...          ...     ...   ...
478  20611957476  20611198427     389   388
479  20612026697  20603078200     665   633
480  20612026697  20606482753      94    83
481  20612026697  20610737553     368   370
482  20612242748  20601056756    1856  None

[371 rows x 4 columns]