In [14]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine



salessystem = create_engine(
    'mysql+pymysql://admin:Giu72656770@sales-system.c988owwqmmkd.us-east-1.rds.amazonaws.com'
    ':3306/salessystem')

warehouse = create_engine('postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
                              ':5432/warehouse')

In [15]:
query = "SELECT * FROM public.facturas_noanuladas WHERE periodo_tributario = 202406"

facturas = pd.read_sql(query, con=warehouse, parse_dates=['fecha_emision','fecha_vencimiento'], dtype_backend="pyarrow")
proveedores = pd.read_sql("SELECT tipo_proveedor, numero_documento, alias FROM proveedores", con=salessystem, dtype_backend="pyarrow")
clientes = pd.read_sql("SELECT * FROM customers", con=salessystem, dtype_backend="pyarrow")

**FACTURAS AGRUPADAS POR ENTIDAD, TOTAL Y CANTIDAD DE COMPROBANTES**

In [16]:

result = facturas.groupby('ruc').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
result['total']=result['columna1_sum']+result['columna2_sum']
result.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [17]:
proveedores_tipo1y2 = proveedores[proveedores['tipo_proveedor'] < '3']
proveedores_tipo3 = proveedores[proveedores['tipo_proveedor'] == '3']
clientes_internos = clientes[clientes['observaciones'].str.contains('INTERNO', case=False, na=False)]
clientes_externos = clientes[~clientes['observaciones'].str.contains('INTERNO|PROVEEDOR', case=False, na=False)]

In [18]:
filtro1_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo1y2['numero_documento'].astype(str))]

In [19]:
filtro2_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo3['numero_documento'].astype(str))]

In [20]:
filtro_clientesinternos = facturas[facturas['numero_documento'].isin(clientes_internos['ruc'].astype(str))]

In [21]:
filtro_otrosclientes = facturas[~facturas['numero_documento'].isin(clientes['ruc'].astype(str))]

In [22]:
filtro_clientesexternos = facturas[facturas['numero_documento'].isin(clientes_externos['ruc'].astype(str))]

In [23]:
print('Cantidad de facturas emitidas por facturacion: '+str(len(facturas['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 1 y 2: '+str(len(filtro1_proveedores['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 3: '+str(len(filtro2_proveedores['cui'])))
print('Cantidad de facturas emitidas a clientes internos: '+str(len(filtro_clientesinternos['cui'])))
print('Cantidad de facturas emitidas a clientes externos recurrentes: '+str(len(filtro_clientesexternos['cui'])))
print('Cantidad de facturas emitidas a nuevos clientes: '+str(len(filtro_otrosclientes['cui'])))

Cantidad de facturas emitidas por facturacion: 483
Cantidad de facturas emitidas a proveedores tipo 1 y 2: 112
Cantidad de facturas emitidas a proveedores tipo 3: 0
Cantidad de facturas emitidas a clientes internos: 42
Cantidad de facturas emitidas a clientes externos recurrentes: 254
Cantidad de facturas emitidas a nuevos clientes: 75

In [24]:
filtro_facturaconguia = facturas[facturas['tipo_documento_referencia'] == 9]
filtro_facturasinguia = facturas[facturas['tipo_documento_referencia'] == 1]

In [25]:
print('Cantidad de facturas con guia asociada: '+str(len(filtro_facturaconguia['cui'])))
print('Cantidad de facturas con guia asociada: '+str(len(filtro_facturasinguia['cui'])))

Cantidad de facturas con guia asociada: 435
Cantidad de facturas con guia asociada: 48

In [26]:
pedidos = pd.read_sql("SELECT * FROM pedidos WHERE periodo = 202406",salessystem, parse_dates=['fecha_pedido'], dtype_backend="pyarrow").sort_values(by='adquiriente', ascending=True)
pedidos_preparados = pedidos[pedidos['estado'].str.contains('ENTREGADO|EMITIDO', case=False, na=False)]

In [51]:
facturas_pedidos_preparados=facturas[facturas['numero_documento'].isin(pedidos_preparados['adquiriente'].unique().astype(str))]
pedidos_verificados = facturas_pedidos_preparados.groupby('numero_documento').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
pedidos_verificados['total']=pedidos_verificados['columna1_sum']+pedidos_verificados['columna2_sum']
pedidos_verificados.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [52]:
pedidos_verificados

   numero_documento  count      total
0       10093677469      4   20845.53
1       10444085741      6  110016.03
2       10726501306     15  134556.58
3       20100412366     53  3488498.9
4       20603826303     28   573831.1
5       20605962468     30  495679.36
6       20606169222     11   80306.08
7       20606401842     28  523672.93
8       20609753723     26  352651.09
9       20609967235      3   50015.03
10      20611957476     31   904304.9

In [60]:
for adquiriente in pedidos_preparados['adquiriente'].unique():
    pedido = pedidos_preparados[pedidos_preparados['adquiriente'] == adquiriente]
    total_facturas_adquiriente=pedidos_verificados[pedidos_verificados['numero_documento'] == str(adquiriente)]
    total_por_adquiriente=total_facturas_adquiriente['total']
    if len(pedido)>1:
        print('Varios pedidos de un adquiriente')
    else: 
        pedido1 = pedido['cod_pedido']
        importe = pedido['importe_total']
    
        
        print(f"Pedido codigo {pedido1} por {importe} emitido por {total_facturas_adquiriente}")

Pedido codigo 7    R134D8EC1
Name: cod_pedido, dtype: string[pyarrow] por 7    26000.0
Name: importe_total, dtype: double[pyarrow] emitido por   numero_documento  count     total
0      10093677469      4  20845.53
Pedido codigo 12    X134D8F42
Name: cod_pedido, dtype: string[pyarrow] por 12    110000.0
Name: importe_total, dtype: double[pyarrow] emitido por   numero_documento  count      total
1      10444085741      6  110016.03
Pedido codigo 8    R134D8EC2
Name: cod_pedido, dtype: string[pyarrow] por 8    30000.0
Name: importe_total, dtype: double[pyarrow] emitido por   numero_documento  count      total
2      10726501306     15  134556.58
Pedido codigo 5    R134D8E61
Name: cod_pedido, dtype: string[pyarrow] por 5    2000000.0
Name: importe_total, dtype: double[pyarrow] emitido por   numero_documento  count      total
3      20100412366     53  3488498.9
Pedido codigo 0    I134D8EC5
Name: cod_pedido, dtype: string[pyarrow] por 0    700000.0
Name: importe_total, dtype: double[pyarrow] emitido por   numero_documento  count     total
4      20603826303     28  573831.1
Pedido codigo 1    I134D8EC6
Name: cod_pedido, dtype: string[pyarrow] por 1    700000.0
Name: importe_total, dtype: double[pyarrow] emitido por   numero_documento  count      total
5      20605962468     30  495679.36
Pedido codigo 9    R134D8EC3
Name: cod_pedido, dtype: string[pyarrow] por 9    15000.0
Name: importe_total, dtype: double[pyarrow] emitido por   numero_documento  count     total
6      20606169222     11  80306.08
Pedido codigo 2    I134D8EC7
Name: cod_pedido, dtype: string[pyarrow] por 2    700000.0
Name: importe_total, dtype: double[pyarrow] emitido por   numero_documento  count      total
7      20606401842     28  523672.93
Pedido codigo 3    I134D8EC8
Name: cod_pedido, dtype: string[pyarrow] por 3    700000.0
Name: importe_total, dtype: double[pyarrow] emitido por   numero_documento  count      total
8      20609753723     26  352651.09
Pedido codigo 11    X134D8F41
Name: cod_pedido, dtype: string[pyarrow] por 11    50000.0
Name: importe_total, dtype: double[pyarrow] emitido por   numero_documento  count     total
9      20609967235      3  50015.03
Varios pedidos de un adquiriente

'filtrar cada grupo de pedidos de cada adquiriente\nsumar las facturas emitidas a esos adquiriente\npor cada uno de los pedidos de cada grupo  ordenado por fecha obtener el importe total\nrestar el importe total de la suma de las facturas de ese adquiriente'

In [61]:
for adquiriente in pedidos_preparados['adquiriente'].unique():
    # Filtrar los pedidos para el adquiriente actual
    pedido = pedidos_preparados[pedidos_preparados['adquiriente'] == adquiriente]
    
    # Filtrar las facturas para el adquiriente actual
    total_facturas_adquiriente = pedidos_verificados[pedidos_verificados['numero_documento'] == str(adquiriente)]
    
    # Sumar la columna 'total' para el adquiriente actual
    total_por_adquiriente = total_facturas_adquiriente['total'].sum()
    
    if len(pedido) > 1:
        print('Varios pedidos de un adquiriente')
    else: 
        # Obtener los valores espec√≠ficos
        pedido1 = pedido['cod_pedido'].values[0]
        importe = pedido['importe_total'].values[0]
        
        print(f"Pedido codigo {pedido1} por {importe} emitido por {total_por_adquiriente}")

Pedido codigo R134D8EC1 por 26000.0 emitido por 20845.53
Pedido codigo X134D8F42 por 110000.0 emitido por 110016.03
Pedido codigo R134D8EC2 por 30000.0 emitido por 134556.58000000002
Pedido codigo R134D8E61 por 2000000.0 emitido por 3488498.9
Pedido codigo I134D8EC5 por 700000.0 emitido por 573831.1
Pedido codigo I134D8EC6 por 700000.0 emitido por 495679.36
Pedido codigo R134D8EC3 por 15000.0 emitido por 80306.08
Pedido codigo I134D8EC7 por 700000.0 emitido por 523672.93
Pedido codigo I134D8EC8 por 700000.0 emitido por 352651.08999999997
Pedido codigo X134D8F41 por 50000.0 emitido por 50015.03
Varios pedidos de un adquiriente

In [30]:
pedidos_verificados

   numero_documento  count      total
0       10093677469      4   20845.53
1       10444085741      6  110016.03
2       10726501306     15  134556.58
3       20100412366     53  3488498.9
4       20603826303     28   573831.1
5       20605962468     30  495679.36
6       20606169222     11   80306.08
7       20606401842     28  523672.93
8       20609753723     26  352651.09
9       20609967235      3   50015.03
10      20611957476     31   904304.9