In [19]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine



salessystem = create_engine(
    'mysql+pymysql://admin:Giu72656770@sales-system.c988owwqmmkd.us-east-1.rds.amazonaws.com'
    ':3306/salessystem')

warehouse = create_engine('postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
                              ':5432/warehouse')

In [20]:
# VISTA FACTURAS_NOANULADAS FILTRADAS POR PERIODO '202406'
query = "SELECT * FROM public.facturas_noanuladas WHERE periodo_tributario = 202407"

# TABLA FACTURAS DE SALES SYSTEM
facturas = pd.read_sql(query, con=warehouse, parse_dates=['fecha_emision','fecha_vencimiento'], dtype_backend="pyarrow")

# TABLA PROVEEDORES DE SALES SYSTEM
proveedores = pd.read_sql("SELECT tipo_proveedor, numero_documento, alias FROM proveedores", con=salessystem, dtype_backend="pyarrow")

# TABLA CLIENTES DE SALES SYSTEM
clientes = pd.read_sql("SELECT * FROM customers", con=salessystem, dtype_backend="pyarrow")

**FACTURAS AGRUPADAS POR ENTIDAD, TOTAL Y CANTIDAD DE COMPROBANTES**

In [21]:
# FACTURAS AGRUPADAS POR PROVEEDOR(ruc), SUMA IGV, SUMA VALOR, SUMA IGV Y CONTEO
result = facturas.groupby('ruc').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
# TOTAL = SUMA IGV + SUMA SUMA VALOR
result['total']=result['columna1_sum']+result['columna2_sum']
# ELIMINAR COLUMNAS SUMA IGV Y SUMA VALOR
result.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [22]:
# FILTRAR SOLO PROVEEDORES TIPO 1 Y 2
proveedores_tipo1y2 = proveedores[proveedores['tipo_proveedor'] < '3']
# FILTRAR SOLO PROVEEDORES TIPO 3
proveedores_tipo3 = proveedores[proveedores['tipo_proveedor'] == '3']
# FILTRAR SOLO CLIENTES INTERNOS REGISTRADOS
clientes_internos = clientes[clientes['observaciones'].str.contains('INTERNO', case=False, na=False)]
# FILTRAR SOLO CLIENTES EXTERNOS REGISTRADOS
clientes_externos = clientes[~clientes['observaciones'].str.contains('INTERNO|PROVEEDOR', case=False, na=False)]

In [23]:
# FILTRAR FACTURAS EMITIDAS A PROVEEDORES TIPO 1 Y 2
filtro1_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo1y2['numero_documento'].astype(str))]

In [24]:
# FILTRAR FACTURAS EMITIDAS A PROVEEDORES TIPO 3
filtro2_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo3['numero_documento'].astype(str))]

In [25]:
# FILTRAR FACTURAS EMITIDAS A CLIENTES INTERNOS REGISTRADOS
filtro_clientesinternos = facturas[facturas['numero_documento'].isin(clientes_internos['ruc'].astype(str))]

In [26]:
# FILTRAR FACTURAS EMITIDAS A OTROS CLIENTES O A CLIENTES NO REGISTRADOS
filtro_otrosclientes = facturas[~facturas['numero_documento'].isin(clientes['ruc'].astype(str))]

In [27]:
# FILTRAR FACCTURAS EMITIDAS A CLIENTES EXTERNOS
filtro_clientesexternos = facturas[facturas['numero_documento'].isin(clientes_externos['ruc'].astype(str))]

In [28]:
print('Cantidad de facturas emitidas por facturacion: '+str(len(facturas['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 1 y 2: '+str(len(filtro1_proveedores['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 3: '+str(len(filtro2_proveedores['cui'])))
print('Cantidad de facturas emitidas a clientes internos: '+str(len(filtro_clientesinternos['cui'])))
print('Cantidad de facturas emitidas a clientes externos recurrentes: '+str(len(filtro_clientesexternos['cui'])))
print('Cantidad de facturas emitidas a nuevos clientes: '+str(len(filtro_otrosclientes['cui'])))

Cantidad de facturas emitidas por facturacion: 754
Cantidad de facturas emitidas a proveedores tipo 1 y 2: 202
Cantidad de facturas emitidas a proveedores tipo 3: 0
Cantidad de facturas emitidas a clientes internos: 45
Cantidad de facturas emitidas a clientes externos recurrentes: 239
Cantidad de facturas emitidas a nuevos clientes: 338

In [29]:
# FILTRO FACTURAS CON GUIA
filtro_facturaconguia = facturas[facturas['tipo_documento_referencia'] == 9]
# FILTRO FACTURAS SIN GUIA
filtro_facturasinguia = facturas[facturas['tipo_documento_referencia'] == 1]

In [30]:
print('Cantidad de facturas con guia asociada: '+str(len(filtro_facturaconguia['cui'])))
print('Cantidad de facturas sin guia: '+str(len(filtro_facturasinguia['cui'])))

Cantidad de facturas con guia asociada: 733
Cantidad de facturas sin guia: 21

In [31]:
# TABLA PEDIDOS ORDENADO POR ADQUIRIENTE/CLIENTE FILTRADO POR PERIODO '202406'
pedidos = pd.read_sql("SELECT * FROM pedidos WHERE periodo = 202406",salessystem, parse_dates=['fecha_pedido'], dtype_backend="pyarrow").sort_values(by='adquiriente', ascending=True)
# PEDIDOS FILTRADOS POR PEDIDOS ENTREGADOS Y/O EMITIDOS
pedidos_preparados = pedidos[pedidos['estado'].str.contains('ENTREGADO|EMITIDO', case=False, na=False)]

In [32]:
# FACTURAS FILTRADAS POR PEDIDOS REGISTRADOS COMO EMITIDO/ENTREGADO
facturas_pedidos_preparados=facturas[facturas['numero_documento'].isin(pedidos_preparados['adquiriente'].unique().astype(str))]
# FACTURAS FILTADAS POR PEDIDOS REGISTRADOS AGRUPADAS POR ADQUIRIENTE(numero_documento)
pedidos_verificados = facturas_pedidos_preparados.groupby('numero_documento').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
pedidos_verificados['total']=pedidos_verificados['columna1_sum']+pedidos_verificados['columna2_sum']
pedidos_verificados.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [33]:
pedidos_verificados

  numero_documento  count       total
0      10093677469      3    16251.08
1      10726501306      8   120798.96
2      20100412366     56  3495950.95
3      20603826303     14   451439.74
4      20605962468     23   621948.97
5      20606169222      6     61124.0
6      20606401842     19   500313.59
7      20609753723     21    507714.0
8      20611957476     25  1175650.55

In [34]:
# POR CADA ADQUIRIENTE DEL DATAFRAME pedidos_preparados
for adquiriente in pedidos_preparados['adquiriente'].unique():
    # FILTRAR PEDIDOS POR ADQUIRIENTE
    pedido = pedidos_preparados[pedidos_preparados['adquiriente'] == adquiriente]
    # FACTURAS EMITIDAS PARA LOS PEDIDOS PREPARADOS FILTRADAS POR ADQUIRIENTE (numero_documento)
    total_facturas_adquiriente = pedidos_verificados[pedidos_verificados['numero_documento'] == str(adquiriente)]
    
    # SUMAR TOTAL POR ADQUIRIENTE
    total_por_adquiriente = total_facturas_adquiriente['total'].sum()
    
    # SI EL ADQUIRIENTE TIENE MAS DE 1 PEDIDO EN EL PERIODO
    if len(pedido) > 1:
        print('Varios pedidos de un adquiriente')
    # SI SOLO TIENE 1 PEDIDO    
    else: 
        # OBTENER EL CODIGO DE PEDIDO
        pedido1 = pedido['cod_pedido'].values[0]
        # OBTENER EL IMPORTE TOTAL DEL PEDIDO
        importe = pedido['importe_total'].values[0]
        
        print(f"Pedido codigo {pedido1} por {importe} emitido por {total_por_adquiriente}")

Pedido codigo R134D8EC1 por 26000.0 emitido por 16251.08
Pedido codigo X134D8F42 por 110000.0 emitido por 0.0
Pedido codigo R134D8EC2 por 30000.0 emitido por 120798.95999999999
Pedido codigo R134D8E61 por 2000000.0 emitido por 3495950.9499999997
Pedido codigo I134D8EC5 por 700000.0 emitido por 451439.74
Pedido codigo I134D8EC6 por 700000.0 emitido por 621948.97
Pedido codigo R134D8EC3 por 15000.0 emitido por 61124.0
Pedido codigo I134D8EC7 por 700000.0 emitido por 500313.58999999997
Pedido codigo I134D8EC8 por 700000.0 emitido por 507714.0
Pedido codigo X134D8F41 por 50000.0 emitido por 0.0
Varios pedidos de un adquiriente

In [35]:
# PEDIDOS EMITIDOS POR FACTURACION AGRUPADOS Y ORDENADOS POR PROVEEDOR(RUC) FILTRADOS POR PERIODO
emitidos_facturacion = pd.read_sql("SELECT ruc,count(distinct concat(cod_pedido,cuo)), SUM(round(cantidad * precio_unit *1.18,2)) AS total FROM facturas WHERE CAST(DATE_FORMAT(emision, '%%Y%%m') AS UNSIGNED) = 202406 GROUP BY ruc ORDER BY ruc", con=salessystem)

In [36]:
emitidos_facturacion

            ruc  count(distinct concat(cod_pedido,cuo))       total
0   10093677469                                       5    25655.21
1   10444085741                                       6   110016.03
2   10726501306                                       4    30349.60
3   20100412366                                      55  3302896.70
4   20603826303                                      30   672310.31
5   20605962468                                      36   655951.20
6   20606169222                                       3    15214.92
7   20606401842                                      31   659184.10
8   20609753723                                      31   645655.83
9   20609967235                                       3    50015.03
10  20611957476                                      34   930707.68

In [40]:
#FACTURAS QUE NO SON A PROVEEDORES
facturas_cliente=facturas[~facturas['numero_documento'].isin(proveedores['numero_documento'].astype(str))]

In [52]:
facturas_cliente_conguia=facturas_cliente[facturas_cliente['tipo_documento_referencia'] == 9]
facturas_cliente_conguia.loc[:, 'numero_documento_referencia'] = facturas_cliente_conguia['numero_documento_referencia'].apply(lambda x: int(x[6:-1]))

In [54]:
facturas_cliente_conguia.sort_values(by=['ruc','numero_documento_referencia'], ascending=True)

,id,ruc,subdiario,periodo_tributario,tipo_operacion,tipo_comprobante,fecha_emision,fecha_vencimiento,numero_serie,numero_correlativo,...,tipo_comprobante_modificado,numero_serie_modificado,numero_correlativo_modificado,glosa,cui,observaciones,cuenta_contable,igv,tipo_documento_referencia,numero_documento_referencia
299,3615,10406916087,5,202407,1,1,2024-07-22,NaT,E001,160,...,<NA>,<NA>,<NA>,<NA>,26c4ceff701E001160,PARSER,<NA>,1700.67,9,23
135,3617,10406916087,5,202407,1,1,2024-07-22,NaT,E001,161,...,<NA>,<NA>,<NA>,<NA>,26c4ceff701E001161,PARSER,<NA>,1231.63,9,24
746,3619,10406916087,5,202407,1,1,2024-07-22,NaT,E001,162,...,<NA>,<NA>,<NA>,<NA>,26c4ceff701E001162,PARSER,<NA>,638.81,9,25
284,3621,10406916087,5,202407,1,1,2024-07-24,NaT,E001,163,...,<NA>,<NA>,<NA>,<NA>,26c4ceff701E001163,PARSER,<NA>,273.46,9,26
745,3623,10406916087,5,202407,1,1,2024-07-24,NaT,E001,164,...,<NA>,<NA>,<NA>,<NA>,26c4ceff701E001164,PARSER,<NA>,2913.69,9,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,3808,20611198427,5,202407,1,1,2024-07-30,NaT,E001,417,...,<NA>,<NA>,<NA>,<NA>,4cc85eddb01E001417,PARSER,<NA>,12528.0,9,421
495,3811,20611198427,5,202407,1,1,2024-07-31,NaT,E001,420,...,<NA>,<NA>,<NA>,<NA>,4cc85eddb01E001420,PARSER,<NA>,13073.4,9,422
52,3814,20611198427,5,202407,1,1,2024-07-31,NaT,E001,423,...,<NA>,<NA>,<NA>,<NA>,4cc85eddb01E001423,PARSER,<NA>,2278.13,9,425
573,3815,20611198427,5,202407,1,1,2024-07-31,NaT,E001,424,...,<NA>,<NA>,<NA>,<NA>,4cc85eddb01E001424,PARSER,<NA>,457.63,9,426
393,3816,20611198427,5,202407,1,1,2024-07-31,NaT,E001,425,...,<NA>,<NA>,<NA>,<NA>,4cc85eddb01E001425,PARSER,<NA>,7177.12,9,427