In [22]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine



salessystem = create_engine(
    'mysql+pymysql://admin:Giu12FF8DB*@salessystem.crkwsaygg8b2.us-east-2.rds.amazonaws.com'
    ':3306/salessystem')

warehouse = create_engine('postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
                              ':5432/warehouse')

In [23]:
# VISTA FACTURAS_NOANULADAS FILTRADAS POR PERIODO '202406'
query = ("SELECT * FROM public.facturas_noanuladas WHERE periodo_tributario = 202504")

# TABLA FACTURAS DE SALES SYSTEM
facturas = pd.read_sql(query, con=warehouse, parse_dates=['fecha_emision','fecha_vencimiento'], dtype_backend="pyarrow")

# TABLA PROVEEDORES DE SALES SYSTEM
proveedores = pd.read_sql("SELECT tipo_proveedor, numero_documento, alias FROM proveedores", con=salessystem, dtype_backend="pyarrow")

# TABLA CLIENTES DE SALES SYSTEM
clientes = pd.read_sql("SELECT * FROM customers", con=salessystem, dtype_backend="pyarrow")

**FACTURAS AGRUPADAS POR ENTIDAD, TOTAL Y CANTIDAD DE COMPROBANTES**

In [24]:
# FACTURAS AGRUPADAS POR PROVEEDOR(ruc), SUMA IGV, SUMA VALOR, SUMA IGV Y CONTEO
result = facturas.groupby('ruc').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
# TOTAL = SUMA IGV + SUMA SUMA VALOR
result['total']=result['columna1_sum']+result['columna2_sum']
# ELIMINAR COLUMNAS SUMA IGV Y SUMA VALOR
result.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [25]:
# FILTRAR SOLO PROVEEDORES TIPO 1 Y 2
proveedores_tipo1y2 = proveedores[proveedores['tipo_proveedor'] < '3']
# FILTRAR SOLO PROVEEDORES TIPO 3
proveedores_tipo3 = proveedores[proveedores['tipo_proveedor'] == '3']
# FILTRAR SOLO CLIENTES INTERNOS REGISTRADOS
clientes_internos = clientes[clientes['observaciones'].str.contains('INTERNO', case=False, na=False)]
# FILTRAR SOLO CLIENTES EXTERNOS REGISTRADOS
clientes_externos = clientes[~clientes['observaciones'].str.contains('INTERNO|PROVEEDOR', case=False, na=False)]

In [26]:
# FILTRAR FACTURAS EMITIDAS A PROVEEDORES TIPO 1 Y 2
filtro1_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo1y2['numero_documento'].astype(str))]

In [27]:
# FILTRAR FACTURAS EMITIDAS A PROVEEDORES TIPO 3
filtro2_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo3['numero_documento'].astype(str))]

In [28]:
# FILTRAR FACTURAS EMITIDAS A CLIENTES INTERNOS REGISTRADOS
filtro_clientesinternos = facturas[facturas['numero_documento'].isin(clientes_internos['ruc'].astype(str))]

In [29]:
# FILTRAR FACTURAS EMITIDAS A OTROS CLIENTES O A CLIENTES NO REGISTRADOS
filtro_otrosclientes = facturas[~facturas['numero_documento'].isin(clientes['ruc'].astype(str))]
filtro_otrosclientes['numero_documento'].drop_duplicates()

Series([], Name: numero_documento, dtype: string[pyarrow])

In [30]:
# FILTRAR FACTURAS EMITIDAS A CLIENTES EXTERNOS
filtro_clientesexternos = facturas[facturas['numero_documento'].isin(clientes_externos['ruc'].astype(str))]

In [31]:
print('Cantidad de facturas emitidas por facturacion: '+str(len(facturas['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 1 y 2: '+str(len(filtro1_proveedores['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 3: '+str(len(filtro2_proveedores['cui'])))
print('Cantidad de facturas emitidas a clientes internos: '+str(len(filtro_clientesinternos['cui'])))
print('Cantidad de facturas emitidas a clientes externos recurrentes: '+str(len(filtro_clientesexternos['cui'])))
print('Cantidad de facturas emitidas a nuevos clientes: '+str(len(filtro_otrosclientes['cui'])))

Cantidad de facturas emitidas por facturacion: 522
Cantidad de facturas emitidas a proveedores tipo 1 y 2: 26
Cantidad de facturas emitidas a proveedores tipo 3: 0
Cantidad de facturas emitidas a clientes internos: 44
Cantidad de facturas emitidas a clientes externos recurrentes: 478
Cantidad de facturas emitidas a nuevos clientes: 0

In [32]:
# FILTRO FACTURAS CON GUIA
filtro_facturaconguia = facturas[facturas['tipo_documento_referencia'] == 9]
# FILTRO FACTURAS SIN GUIA
filtro_facturasinguia = facturas[facturas['tipo_documento_referencia'] == 1]

In [33]:
print('Cantidad de facturas con guia asociada: '+str(len(filtro_facturaconguia['cui'])))
print('Cantidad de facturas sin guia: '+str(len(filtro_facturasinguia['cui'])))

Cantidad de facturas con guia asociada: 505
Cantidad de facturas sin guia: 17

In [34]:
# TABLA PEDIDOS ORDENADO POR ADQUIRIENTE/CLIENTE FILTRADO POR PERIODO '202406'
pedidos = pd.read_sql("SELECT * FROM pedidos WHERE periodo = 202504",salessystem, parse_dates=['fecha_pedido'], dtype_backend="pyarrow").sort_values(by='adquiriente', ascending=True)
# PEDIDOS FILTRADOS POR PEDIDOS ENTREGADOS Y/O EMITIDOS
pedidos_preparados = pedidos[pedidos['estado'].str.contains('ENTREGADO|EMITIDO', case=False, na=False)]

In [35]:
# FACTURAS FILTRADAS POR PEDIDOS REGISTRADOS COMO EMITIDO/ENTREGADO
facturas_pedidos_preparados=facturas[facturas['numero_documento'].isin(pedidos_preparados['adquiriente'].unique().astype(str))]
# FACTURAS FILTADAS POR PEDIDOS REGISTRADOS AGRUPADAS POR ADQUIRIENTE(numero_documento)
pedidos_verificados = facturas_pedidos_preparados.groupby('numero_documento').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
pedidos_verificados['total']=pedidos_verificados['columna1_sum']+pedidos_verificados['columna2_sum']
pedidos_verificados.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [36]:
pedidos_verificados

Empty DataFrame
Columns: [numero_documento, count, total]
Index: []

In [37]:
# POR CADA ADQUIRIENTE DEL DATAFRAME pedidos_preparados
for adquiriente in pedidos_preparados['adquiriente'].unique():
    # FILTRAR PEDIDOS POR ADQUIRIENTE
    pedido = pedidos_preparados[pedidos_preparados['adquiriente'] == adquiriente]
    # FACTURAS EMITIDAS PARA LOS PEDIDOS PREPARADOS FILTRADAS POR ADQUIRIENTE (numero_documento)
    total_facturas_adquiriente = pedidos_verificados[pedidos_verificados['numero_documento'] == str(adquiriente)]
    
    # SUMAR TOTAL POR ADQUIRIENTE
    total_por_adquiriente = total_facturas_adquiriente['total'].sum()
    
    # SI EL ADQUIRIENTE TIENE MAS DE 1 PEDIDO EN EL PERIODO
    if len(pedido) > 1:
        print('Varios pedidos de un adquiriente')
    # SI SOLO TIENE 1 PEDIDO    
    else: 
        # OBTENER EL CODIGO DE PEDIDO
        pedido1 = pedido['cod_pedido'].values[0]
        # OBTENER EL IMPORTE TOTAL DEL PEDIDO
        importe = pedido['importe_total'].values[0]
        
        print(f"Pedido codigo {pedido1} por {importe} emitido por {total_por_adquiriente}")

In [38]:
# PEDIDOS EMITIDOS POR FACTURACION AGRUPADOS Y ORDENADOS POR PROVEEDOR(RUC) FILTRADOS POR PERIODO
emitidos_facturacion = pd.read_sql("SELECT ruc,count(distinct concat(cod_pedido,cuo)), SUM(round(cantidad * precio_unit *1.18,2)) AS total FROM facturas WHERE CAST(DATE_FORMAT(emision, '%%Y%%m') AS UNSIGNED) = 202504 GROUP BY ruc ORDER BY ruc", con=salessystem)

In [39]:
emitidos_facturacion

            ruc  count(distinct concat(cod_pedido,cuo))       total
0   10085917213                                      32    40001.03
1   10097937724                                       8    30400.34
2   10105880818                                       3     3507.64
3   10257772697                                      13   125066.43
4   10258333450                                       4     5915.93
5   10305796307                                       4    66033.20
6   10409378329                                       4    80000.28
7   10415173101                                      13    42000.43
8   10428596591                                       6   100003.82
9   10437189671                                       3    15007.24
10  10456396572                                       4     3563.95
11  10459463343                                       2     3299.98
12  10484240588                                       7    66500.20
13  20100412366                                      53  4248036.16
14  20329834051                                       7    10000.30
15  20503365571                                      21    30001.46
16  20504363903                                      20   950795.62
17  20508283017                                       5   117837.75
18  20510945736                                      18   331137.48
19  20513129298                                       7    10000.78
20  20517463842                                       8   188408.66
21  20549945245                                      25   141670.31
22  20558368684                                       2    16513.04
23  20600438400                                       5     5544.59
24  20600628641                                       3    20115.70
25  20600931921                                       6    50000.01
26  20601295530                                       3    90658.69
27  20601371325                                       4    38265.46
28  20601616051                                       9    12001.40
29  20601770653                                      10    35401.18
30  20602106706                                      24    83791.84
31  20602448071                                       8     8000.30
32  20602668178                                       3    98002.11
33  20603312822                                       4    50000.30
34  20603533438                                       8    55000.79
35  20604591440                                       4    40000.62
36  20605203109                                      21   340075.72
37  20606283858                                      26   150418.26
38  20606362766                                       2     8026.71
39  20607140911                                       8    10000.01
40  20607890073                                       9    43638.17
41  20608446860                                       2    10010.18
42  20608962159                                       2     8500.53
43  20609804247                                       2    25000.24
44  20609967235                                       4    50065.78
45  20611210656                                      12    17000.98
46  20611827661                                       2    21211.92
47  20611957476                                       8   590001.41
48  20612560987                                       3    12390.02
49  20613322583                                       5   104042.62

In [40]:
#FACTURAS QUE NO SON A PROVEEDORES
facturas_cliente=facturas[~facturas['numero_documento'].isin(proveedores['numero_documento'].astype(str))]

In [41]:
facturas_cliente_conguia=facturas_cliente[
    (facturas_cliente['tipo_documento_referencia'] == 9) &
    (~facturas_cliente['numero_documento_referencia'].str.startswith('0001'))
]
facturas_cliente_conguia.loc[:, 'numero_documento_referencia'] = facturas_cliente_conguia['numero_documento_referencia'].apply(lambda x: int(x[6:-1]))

In [42]:
facturas_cliente_conguia.sort_values(by=['ruc','numero_documento_referencia'], ascending=True)

,id,ruc,subdiario,periodo_tributario,tipo_operacion,tipo_comprobante,fecha_emision,fecha_vencimiento,numero_serie,numero_correlativo,...,tipo_comprobante_modificado,numero_serie_modificado,numero_correlativo_modificado,glosa,cui,observaciones,cuenta_contable,igv,tipo_documento_referencia,numero_documento_referencia
175,10055,20553837660,5,202504,1,1,2025-04-23,NaT,E001,281,...,<NA>,<NA>,<NA>,<NA>,4c91aac5c01E001281,PARSER,<NA>,213.56,9,103
342,10056,20553837660,5,202504,1,1,2025-04-29,NaT,E001,282,...,<NA>,<NA>,<NA>,<NA>,4c91aac5c01E001282,PARSER,<NA>,174.7,9,104
306,10057,20553837660,5,202504,1,1,2025-04-29,NaT,E001,283,...,<NA>,<NA>,<NA>,<NA>,4c91aac5c01E001283,PARSER,<NA>,100.66,9,105
88,10058,20553837660,5,202504,1,1,2025-04-29,NaT,E001,284,...,<NA>,<NA>,<NA>,<NA>,4c91aac5c01E001284,PARSER,<NA>,3117.77,9,106
277,10059,20553837660,5,202504,1,1,2025-04-30,NaT,E001,285,...,<NA>,<NA>,<NA>,<NA>,4c91aac5c01E001285,PARSER,<NA>,289.83,9,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,10453,20613530101,5,202504,1,1,2025-04-29,NaT,E001,96,...,<NA>,<NA>,<NA>,<NA>,4cca981f501E00196,PARSER,<NA>,1000.77,9,95
58,10454,20613530101,5,202504,1,1,2025-04-29,NaT,E001,97,...,<NA>,<NA>,<NA>,<NA>,4cca981f501E00197,PARSER,<NA>,460.51,9,96
122,10455,20613530101,5,202504,1,1,2025-04-29,NaT,E001,98,...,<NA>,<NA>,<NA>,<NA>,4cca981f501E00198,PARSER,<NA>,197.88,9,97
326,10462,20613530101,5,202504,1,1,2025-04-29,NaT,E001,99,...,<NA>,<NA>,<NA>,<NA>,4cca981f501E00199,PARSER,<NA>,2237.85,9,98
487,9949,20613530101,5,202504,1,1,2025-04-29,NaT,E001,100,...,<NA>,<NA>,<NA>,<NA>,4cca981f501E001100,PARSER,<NA>,2610.45,9,99