In [64]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine



salessystem = create_engine(
    'mysql+pymysql://admin:Giu72656770@sales-system.c988owwqmmkd.us-east-1.rds.amazonaws.com'
    ':3306/salessystem')

warehouse = create_engine('postgresql://admindb:72656770@datawarehouse.cgvmexzrrsgs.us-east-1.rds.amazonaws.com'
                              ':5432/warehouse')

In [65]:
# VISTA FACTURAS_NOANULADAS FILTRADAS POR PERIODO '202406'
query = ("SELECT * FROM public.facturas_noanuladas WHERE periodo_tributario = 202412")

# TABLA FACTURAS DE SALES SYSTEM
facturas = pd.read_sql(query, con=warehouse, parse_dates=['fecha_emision','fecha_vencimiento'], dtype_backend="pyarrow")

# TABLA PROVEEDORES DE SALES SYSTEM
proveedores = pd.read_sql("SELECT tipo_proveedor, numero_documento, alias FROM proveedores", con=salessystem, dtype_backend="pyarrow")

# TABLA CLIENTES DE SALES SYSTEM
clientes = pd.read_sql("SELECT * FROM customers", con=salessystem, dtype_backend="pyarrow")

**FACTURAS AGRUPADAS POR ENTIDAD, TOTAL Y CANTIDAD DE COMPROBANTES**

In [66]:
# FACTURAS AGRUPADAS POR PROVEEDOR(ruc), SUMA IGV, SUMA VALOR, SUMA IGV Y CONTEO
result = facturas.groupby('ruc').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
# TOTAL = SUMA IGV + SUMA SUMA VALOR
result['total']=result['columna1_sum']+result['columna2_sum']
# ELIMINAR COLUMNAS SUMA IGV Y SUMA VALOR
result.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [67]:
# FILTRAR SOLO PROVEEDORES TIPO 1 Y 2
proveedores_tipo1y2 = proveedores[proveedores['tipo_proveedor'] < '3']
# FILTRAR SOLO PROVEEDORES TIPO 3
proveedores_tipo3 = proveedores[proveedores['tipo_proveedor'] == '3']
# FILTRAR SOLO CLIENTES INTERNOS REGISTRADOS
clientes_internos = clientes[clientes['observaciones'].str.contains('INTERNO', case=False, na=False)]
# FILTRAR SOLO CLIENTES EXTERNOS REGISTRADOS
clientes_externos = clientes[~clientes['observaciones'].str.contains('INTERNO|PROVEEDOR', case=False, na=False)]

In [68]:
# FILTRAR FACTURAS EMITIDAS A PROVEEDORES TIPO 1 Y 2
filtro1_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo1y2['numero_documento'].astype(str))]

In [69]:
# FILTRAR FACTURAS EMITIDAS A PROVEEDORES TIPO 3
filtro2_proveedores = facturas[facturas['numero_documento'].isin(proveedores_tipo3['numero_documento'].astype(str))]

In [70]:
# FILTRAR FACTURAS EMITIDAS A CLIENTES INTERNOS REGISTRADOS
filtro_clientesinternos = facturas[facturas['numero_documento'].isin(clientes_internos['ruc'].astype(str))]

In [71]:
# FILTRAR FACTURAS EMITIDAS A OTROS CLIENTES O A CLIENTES NO REGISTRADOS
filtro_otrosclientes = facturas[~facturas['numero_documento'].isin(clientes['ruc'].astype(str))]
filtro_otrosclientes['numero_documento'].drop_duplicates()

Series([], Name: numero_documento, dtype: string[pyarrow])

In [72]:
# FILTRAR FACTURAS EMITIDAS A CLIENTES EXTERNOS
filtro_clientesexternos = facturas[facturas['numero_documento'].isin(clientes_externos['ruc'].astype(str))]

In [73]:
print('Cantidad de facturas emitidas por facturacion: '+str(len(facturas['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 1 y 2: '+str(len(filtro1_proveedores['cui'])))
print('Cantidad de facturas emitidas a proveedores tipo 3: '+str(len(filtro2_proveedores['cui'])))
print('Cantidad de facturas emitidas a clientes internos: '+str(len(filtro_clientesinternos['cui'])))
print('Cantidad de facturas emitidas a clientes externos recurrentes: '+str(len(filtro_clientesexternos['cui'])))
print('Cantidad de facturas emitidas a nuevos clientes: '+str(len(filtro_otrosclientes['cui'])))

Cantidad de facturas emitidas por facturacion: 655
Cantidad de facturas emitidas a proveedores tipo 1 y 2: 51
Cantidad de facturas emitidas a proveedores tipo 3: 0
Cantidad de facturas emitidas a clientes internos: 29
Cantidad de facturas emitidas a clientes externos recurrentes: 626
Cantidad de facturas emitidas a nuevos clientes: 0

In [74]:
# FILTRO FACTURAS CON GUIA
filtro_facturaconguia = facturas[facturas['tipo_documento_referencia'] == 9]
# FILTRO FACTURAS SIN GUIA
filtro_facturasinguia = facturas[facturas['tipo_documento_referencia'] == 1]

In [75]:
print('Cantidad de facturas con guia asociada: '+str(len(filtro_facturaconguia['cui'])))
print('Cantidad de facturas sin guia: '+str(len(filtro_facturasinguia['cui'])))

Cantidad de facturas con guia asociada: 623
Cantidad de facturas sin guia: 27

In [76]:
# TABLA PEDIDOS ORDENADO POR ADQUIRIENTE/CLIENTE FILTRADO POR PERIODO '202406'
pedidos = pd.read_sql("SELECT * FROM pedidos WHERE periodo = 202412",salessystem, parse_dates=['fecha_pedido'], dtype_backend="pyarrow").sort_values(by='adquiriente', ascending=True)
# PEDIDOS FILTRADOS POR PEDIDOS ENTREGADOS Y/O EMITIDOS
pedidos_preparados = pedidos[pedidos['estado'].str.contains('ENTREGADO|EMITIDO', case=False, na=False)]

In [77]:
# FACTURAS FILTRADAS POR PEDIDOS REGISTRADOS COMO EMITIDO/ENTREGADO
facturas_pedidos_preparados=facturas[facturas['numero_documento'].isin(pedidos_preparados['adquiriente'].unique().astype(str))]
# FACTURAS FILTADAS POR PEDIDOS REGISTRADOS AGRUPADAS POR ADQUIRIENTE(numero_documento)
pedidos_verificados = facturas_pedidos_preparados.groupby('numero_documento').agg(
    columna1_sum=('valor', 'sum'),
    columna2_sum=('igv', 'sum'),
    count=('ruc', 'size')
).reset_index()
pedidos_verificados['total']=pedidos_verificados['columna1_sum']+pedidos_verificados['columna2_sum']
pedidos_verificados.drop(['columna1_sum', 'columna2_sum'], axis=1, inplace=True)

In [78]:
pedidos_verificados

Empty DataFrame
Columns: [numero_documento, count, total]
Index: []

In [79]:
# POR CADA ADQUIRIENTE DEL DATAFRAME pedidos_preparados
for adquiriente in pedidos_preparados['adquiriente'].unique():
    # FILTRAR PEDIDOS POR ADQUIRIENTE
    pedido = pedidos_preparados[pedidos_preparados['adquiriente'] == adquiriente]
    # FACTURAS EMITIDAS PARA LOS PEDIDOS PREPARADOS FILTRADAS POR ADQUIRIENTE (numero_documento)
    total_facturas_adquiriente = pedidos_verificados[pedidos_verificados['numero_documento'] == str(adquiriente)]
    
    # SUMAR TOTAL POR ADQUIRIENTE
    total_por_adquiriente = total_facturas_adquiriente['total'].sum()
    
    # SI EL ADQUIRIENTE TIENE MAS DE 1 PEDIDO EN EL PERIODO
    if len(pedido) > 1:
        print('Varios pedidos de un adquiriente')
    # SI SOLO TIENE 1 PEDIDO    
    else: 
        # OBTENER EL CODIGO DE PEDIDO
        pedido1 = pedido['cod_pedido'].values[0]
        # OBTENER EL IMPORTE TOTAL DEL PEDIDO
        importe = pedido['importe_total'].values[0]
        
        print(f"Pedido codigo {pedido1} por {importe} emitido por {total_por_adquiriente}")

In [80]:
# PEDIDOS EMITIDOS POR FACTURACION AGRUPADOS Y ORDENADOS POR PROVEEDOR(RUC) FILTRADOS POR PERIODO
emitidos_facturacion = pd.read_sql("SELECT ruc,count(distinct concat(cod_pedido,cuo)), SUM(round(cantidad * precio_unit *1.18,2)) AS total FROM facturas WHERE CAST(DATE_FORMAT(emision, '%%Y%%m') AS UNSIGNED) = 202412 GROUP BY ruc ORDER BY ruc", con=salessystem)

In [81]:
emitidos_facturacion

            ruc  count(distinct concat(cod_pedido,cuo))       total
0   10097937724                                      16    46950.02
1   10305796307                                       5    50585.65
2   10415173101                                       6    44355.71
3   10437189671                                       7    35026.89
4   10444085741                                       7    90036.30
5   10726501306                                      13   106884.40
6   20100412366                                      33  2622753.84
7   20392910531                                      15   299364.82
8   20492376699                                       1    13943.23
9   20504363903                                      19   917549.59
10  20510945736                                      15   373609.48
11  20513835168                                      40    17830.38
12  20524279160                                       2    39807.67
13  20555474327                                      15   647139.46
14  20558368684                                       8   103017.36
15  20601695813                                       3    76075.78
16  20601967040                                       1     5122.26
17  20602668178                                       6    78008.41
18  20603312822                                       4   120022.02
19  20604591440                                       8    45006.89
20  20606283858                                      30    99861.45
21  20606979984                                       2    23736.23
22  20608515187                                       1    10003.10
23  20608962159                                       1    14243.49
24  20610895973                                       3    20008.76
25  20611552204                                      18   580000.92
26  20611957476                                      28  1003001.38
27  20612550621                                      17   720007.56
28  20612759856                                      11    48007.95
29  20613352156                                      20    75662.51

In [82]:
#FACTURAS QUE NO SON A PROVEEDORES
facturas_cliente=facturas[~facturas['numero_documento'].isin(proveedores['numero_documento'].astype(str))]

In [83]:
facturas_cliente_conguia=facturas_cliente[
    (facturas_cliente['tipo_documento_referencia'] == 9) &
    (~facturas_cliente['numero_documento_referencia'].str.startswith('0001'))
]
facturas_cliente_conguia.loc[:, 'numero_documento_referencia'] = facturas_cliente_conguia['numero_documento_referencia'].apply(lambda x: int(x[6:-1]))

In [84]:
facturas_cliente_conguia.sort_values(by=['ruc','numero_documento_referencia'], ascending=True)

,id,ruc,subdiario,periodo_tributario,tipo_operacion,tipo_comprobante,fecha_emision,fecha_vencimiento,numero_serie,numero_correlativo,...,tipo_comprobante_modificado,numero_serie_modificado,numero_correlativo_modificado,glosa,cui,observaciones,cuenta_contable,igv,tipo_documento_referencia,numero_documento_referencia
115,7206,20553837660,5,202412,1,1,2024-12-26,NaT,E001,189,...,<NA>,<NA>,<NA>,<NA>,4c91aac5c01E001189,PARSER,<NA>,1496.6,9,10
464,7207,20553837660,5,202412,1,1,2024-12-26,NaT,E001,190,...,<NA>,<NA>,<NA>,<NA>,4c91aac5c01E001190,PARSER,<NA>,1731.69,9,11
111,7208,20553837660,5,202412,1,1,2024-12-27,NaT,E001,191,...,<NA>,<NA>,<NA>,<NA>,4c91aac5c01E001191,PARSER,<NA>,2288.14,9,12
554,7209,20553837660,5,202412,1,1,2024-12-27,NaT,E001,192,...,<NA>,<NA>,<NA>,<NA>,4c91aac5c01E001192,PARSER,<NA>,1220.35,9,13
636,7210,20553837660,5,202412,1,1,2024-12-27,NaT,E001,193,...,<NA>,<NA>,<NA>,<NA>,4c91aac5c01E001193,PARSER,<NA>,1489.55,9,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,7521,20613333593,5,202412,1,1,2024-12-31,NaT,E001,387,...,<NA>,<NA>,<NA>,<NA>,4cca6825901E001387,PARSER,<NA>,3976.04,9,402
244,7522,20613333593,5,202412,1,1,2024-12-31,NaT,E001,388,...,<NA>,<NA>,<NA>,<NA>,4cca6825901E001388,PARSER,<NA>,632.83,9,403
150,7523,20613333593,5,202412,1,1,2024-12-31,NaT,E001,389,...,<NA>,<NA>,<NA>,<NA>,4cca6825901E001389,PARSER,<NA>,1326.87,9,404
600,7524,20613333593,5,202412,1,1,2024-12-31,NaT,E001,390,...,<NA>,<NA>,<NA>,<NA>,4cca6825901E001390,PARSER,<NA>,993.23,9,405
156,7525,20613333593,5,202412,1,1,2024-12-31,NaT,E001,391,...,<NA>,<NA>,<NA>,<NA>,4cca6825901E001391,PARSER,<NA>,5491.52,9,406